{% extends "base/default-page.html" %}
{% import '/base/html-renderer-refactor.html' as renderer %}


{% block content %}
<div class="max-w-3xl mx-auto px-4">
    <div class="card bg-base-100 border-1 border-gray-300 mb-6">
      <div class="card-body">
        <h2 class="card-title text-2xl">
        {% if 'create' in request.path %}
        Create Organization
        {% else %}
        Edit Organization
        {% endif %}
      </h2>
      </div>
    </div>
     <form class="form-control" method="post"  enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="mb-4">
         {{ renderer.file_input(form.uploaded_image)}}
      </div>
      <div class="mb-4">
         {{ renderer.render_field(form.name)}}
      </div>
      <div class="mb-4">
         {{ renderer.render_text_area_field(form.description)}}
      </div>
      <div style="display: flex;justify-content: flex-end;">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
     </form>
</div>
{% endblock %}