{% extends "base/default-page.html" %}

{% block content %}
<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold">Organization List</h1>
    <a href="{{ url_for('admin.organizations.create_or_edit') }}">
      <button class="btn btn-primary w-full">
        <i class="ph-bold ph-plus"></i>
        Create Organization
      </button>
    </a>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {% for organization in organizations %}
    <div class="card w-full shadow-sm">
      <figure class="pt-4">
        <img src="{{ organization.get_logo_url() }}" alt="{{ organization.image.filename}}" class="w-32 h-32">
      </figure>
      <div class="card-body">
        <p class=" font-semibold">{{ organization.name }}</p>
        <p>{{ organization.description }}</p>
        {% if organization.status == 'active' %}
        <div class="flex flex-row gap-2 items-center">
          <i class="ph-fill ph-circle text-[8px] text-[var(--color-success)]"></i>
          {{ organization.status }}
        </div>
        {% else %}
        <div class="flex flex-row gap-2 items-center">
          <i class="ph-fill ph-circle text-[8px] text-[var(--color-error)]"></i>
          {{ organization.status }}
        </div>
        {% endif %}
        <div class="mt-2">
          <a href="{{ url_for('admin.organizations.create_or_edit', organization_id=organization.id) }}">
            <button class="btn btn-primary btn-block btn-outline">
              <i class="ph ph-note-pencil text-lg"></i>
              Edit
            </button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}