{% extends "base/default-page.html" %}
{% from '/components/dialog_state.html' import FailDialog , SuccessDialog , FirstBloodDialog %}

{% block content %}

{% if dialog_state['status'] == "fail" %}
{{ FailDialog() }}
{% endif %}
{% if dialog_state['status'] == "first_blood" %}
{{ FirstBloodDialog() }}
{% endif %}
{% if dialog_state['status'] == "success" %}
{{ SuccessDialog() }}
{% endif %}

<div class="ui large top fixed menu" style="background-color: rgb(50, 78, 156); border-radius: 0 !important;">
	<a class="item" style="color: white;">R202 logo</a>
	<a class="launch icon item" style="gap: 10px; color: white;"><i class="content icon"></i></a>
	<a class="item" style="color: white;"><i class="user tie icon"></i>{{ current_user.display_name }}</a>
	{% for team in teams %}
	{% for member in team.members %}
	{% if current_user.id == member.id %}
	<a class="item" style="color: white;">
		<i class="users icon"></i>{{ team.name }}
	</a>
	{% endif %}
	{% endfor %}
	{% endfor %}

	<div class="right menu">

		{% if "events" in request.url %}
		<a class="item" style="color: white;" href="{{ url_for('dashboards.index', event_id=event.id) }}"><i
				class="sort amount down icon" style="color: rgb(255, 255, 255);"></i>Dashboard</a>
		{% endif %}
		<div class="item" style="color: white;">
			<p id="ipaddress"></p>
		</div>
		<a id="current-time" class="item" style="color: white;"><i class="compass outline icon"></i><span
				id="time-display"></span></a>
		{% if event %}
		<a class="item" style="color: white;">
			<p id="countdown"></p>
		</a>
		{% endif %}
		<a class="item" style="color: white;" href="{{url_for('accounts.logout')}}"><i class="power off icon"
				style="color: red;"></i>Logout</a>
	</div>
</div>

<div class="ui secondary menu" style="font-size: medium">
	<div class="item">
		<h3><i class="star icon"></i> Challenges </h3>
	</div>
	{% if event.type == "team" %}
	<div class="item">
		<i class="user friends icon"></i> Team Rank
	</div>
	{% else %}
	<div class="item">
		<i class="user friends icon"></i> Solo Rank
	</div>
	{% endif %}
	<div class="right menu">
		{% if event.type == "team" %}
		<div class="item">
			<i class="user tie icon"></i> Individual Score : {{ event.competitor_score() }}
		</div>
		<div class="item">
			<i class="user tie icon"></i> Individual Rank 0
		</div>
		<div class="item">
			<i class="user friends icon"></i> Team Score {{ event.team_score() }}
		</div>
		<div class="item">
			<i class="user friends icon"></i> Team Rank 0
		</div>
		{% else %}
		<div class="item">
			<i class="user tie icon"></i> Individual Score : {{ event.competitor_score() }}
		</div>
		<div class="item">
			<i class="user tie icon"></i> Individual Rank 0
		</div>
		{% endif %}
	</div>
</div>
<div id="loader" class="ui active inverted dimmer" style="display: none;">
	<l-quantum size="80" speed="1.75" color="#165fd4"></l-quantum>
</div>
<div class="doubling stackable three column ui grid container" style="width: calc(120rem + 12rem); height: 60vh;">
	{% for challenge_category in event.get_challenge_categories() %}
	<div class="column card-trigger" id="card-template">
		<div class="ui cards">
			<div class="ui fluid card">
				<div class="content">
					<div class="header">
						<i class="cubes icon" style="color: #386CAF; font-size: 1.7rem;"></i>
						{{ challenge_category.name }}
					</div>
					<div class="content" style="margin-top: 1rem;">
						<table class="ui table" style="border: none !important;">
							<thead>
								<tr>
									<th class="one wide"></th>
									<th class="eight wide">Challenges</th>
									<th class="one wide center aligned">Point</th>
									<th class="one wide center aligned"><i class="tint icon" style="color: red;"></i>
									</th>
									<th class="one wide center aligned"><i class="key icon"
											style="color: rgb(255, 196, 0);"></i></th>
									<th class="one wide center aligned"><i class="skull crossbones icon"></i></th>
									<th class="one wide center aligned">Solves</th>
									<th class="one wide center aligned"><i class="flag checkered icon"></i></th>
								</tr>
							</thead>
							<tbody>
								{% for event_challenge in event.get_event_challenges(challenge_category) %}
								<tr class="clickable-row" data-challenge-id="{{ event_challenge.challenge.id }}">
									<td><i class="cube icon" style="color: #386CAF;"></i></td>
									<td class="clickable-name" onclick="showQuestion('{{ event_challenge.id }}')"><a>{{
											event_challenge.challenge.name }}</a></td>
									<td class="center aligned">{{ event_challenge.success_score }}</td>
									<td class="center aligned">{{ event_challenge.first_blood_score }}</td>
									<td class="center aligned">{{ event_challenge.hint_score }}</td>
									<td class="center aligned">{{ event_challenge.fail_score }}</td>
									<td class="center aligned">{{ event_challenge.total_solve_challenge() }}</td>
									{% if event_challenge.solve_challenge() %}
									<td class="center aligned"><i class="trophy icon"
											style="color: rgb(255, 196, 0);"></i></td>
									{% else %}
									<td class="center aligned"><i class="clock outline icon"></i>
									</td>
									{% endif %}
								</tr>

								<div class="ui overlay fullscreen modal {{ event_challenge.id }}">

									<div class="header">Challenge Details</div>
									{% set challenge = event_challenge.challenge %}
									<div class="content">
										<div class="ui segment">
											<p>{{ challenge.description }}</p>
											<p>Example Submit <span
													style="color: #808080; line-height: 1.5; font-style: italic; margin-bottom: 10px;">{{
													event.flag_prefix
													}}{Answer}</span></p>
											{% if challenge.challenge_url %}
											<p>
												Link URL: <a href="{{ challenge.challenge_url }}" target="_blank">{{
													challenge.challenge_url }}</a>
											</p>
											{% endif %}
											{% for challenge_resource in challenge.get_challenge_resources() %}

											<p>Zip File:</p>
											<a href="{{ url_for('challenges.download', challenge_resource_id=challenge_resource.id) }}"
												target="_blank">{{ challenge_resource.file.filename }}</a>
											{% endfor %}
										</div>
										{% if event_challenge.check_transaction_hint(event.id) %}
										<div id="response-{{ event_challenge.id }}" class="ui blue segment">
											{{ event_challenge.challenge.hint }}
										</div>
										{% elif not event_challenge.solve_challenge() %}
										<div id="hintbtn-{{ event_challenge.id }}"
											class="ui vertical animated fluid blue small button" style="display: block;"
											tabindex="0" onclick="ClickHint('{{event.id}}','{{ event_challenge.id }}')">
											<div class="visible content">
												<i class="eye icon"></i>
											</div>
											<div class="hidden content">
												Show hint
											</div>
										</div>
										<div id="response-{{ event_challenge.id }}" class="response"></div>
										{% else %}
										<div id="response-{{ event_challenge.id }}" class="response"></div>
										{% endif %}

										<div id="loader-{{ event_challenge.id }}" class="ui active inverted dimmer"
											style="display: none;">
											<div class="ui large text loader" style="color: #165fd4;">
												Loading...
											</div>
										</div>

										{% if not event_challenge.solve_challenge() %}
										<form method="GET"
											action="{{ url_for('events.submit_challenge', event_id=event.id, challenge_id=event_challenge.id) }}">
											<div class="ui fluid action input" style="margin-top: 1rem;">
												<input type="text" id="answer" name="answer"
													placeholder="Enter your answer...">
												<button type="submit" class="ui big button"
													style="background-color: rgb(103, 151, 190); color: rgb(255, 255, 255);">
													Submit
												</button>
											</div>
										</form>
										{% else %}
										<div class="ui message success text" style="margin-top: auto;">
											Challenge Success
										</div>
										{% endif %}
									</div>
									<div class="actions">
										<div class="ui primary approve red button">
											Close
											<i class="right chevron icon"></i>
										</div>
									</div>
								</div>

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block additional_js %}
<script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/quantum.js"></script>
<style>
	@keyframes flash {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.flash-red {
		color: red;
		animation: flash 1s infinite;
	}
</style>
<script type="text/javascript">
	function updateIP() {
		fetch('https://api.ipify.org?format=json')
			.then(response => response.json())
			.then(data => {
				document.getElementById('ipaddress').innerHTML = `<i class="tv icon"></i>${data.ip}`;
			})
	}

	document.addEventListener('DOMContentLoaded', function () {
		updateIP();
	});
</script>

<script>
	function ClickHint(event_id, event_challenge_id) {
		if (event_id) {
			var loader = document.getElementById("loader-" + event_challenge_id);
			var hintbtn = document.getElementById("hintbtn-" + event_challenge_id);
			// var response = document.getElementById("response-" + event_challenge_id);
			loader.style.display = "block";

			$('.response').hide().empty();
			// $("#loader").show();
			setTimeout(function () {
				$.ajax({
					url: '/api/events/' + event_id + '/event_challenges/' + event_challenge_id,
					type: 'GET',
					success: function (response) {
						console.log(response.hint);
						$('.response').html(`
							<div class="ui blue segment">${response.hint}</div>
						`).show();
					},
					complete: function () {
						$('.response').fadeIn();
						loader.style.display = "none";
						hintbtn.style.display = "none";
					}
				});
			}, 1000);
		} else {
			$(response).hide().empty();
		}
	}

	function showQuestion(event_challenge_id) {
		event_challenge_id ? $('.ui.overlay.fullscreen.modal.' + event_challenge_id).modal('show') : $('.ui.overlay.fullscreen.modal.').modal('hide');
		$('.response').hide().empty();
	}
</script>

<script type="text/javascript">
	function countdown(ended_date) {
		const countDownDate = new Date(ended_date).getTime();

		const x = setInterval(function () {
			const now = new Date().getTime();
			const distance = countDownDate - now;

			const days = Math.floor(distance / (1000 * 60 * 60 * 24));
			const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			const seconds = Math.floor((distance % (1000 * 60)) / 1000);

			document.getElementById("countdown").innerHTML = '<i class="clock outline icon"></i>' + days + "d " + hours + "h "
				+ minutes + "m " + seconds + "s ";

			if (distance < 0) {
				clearInterval(x);
				document.getElementById("countdown").innerHTML = '<i class="clock outline icon"></i> Out Of Time';
				document.getElementById("countdown").classList.add("flash-red");
			}
		}, 1000);
	}

	window.onload = function () {
		const ended_date = "{{ event.ended_date }}";
		console.log("Initial Ended Date:", ended_date);
		countdown(ended_date);
	}
</script>

<script type="text/javascript">
	function updateTime() {
		const now = new Date();
		let hours = (now.getUTCHours() + 7) % 24; // Ensure hours don't exceed 24
		let minutes = now.getUTCMinutes();
		hours = hours < 10 ? '0' + hours : hours;
		minutes = minutes < 10 ? '0' + minutes : minutes;
		document.getElementById('time-display').innerHTML = `${hours}:${minutes} (UTC+7)`;
	}
	setInterval(updateTime, 1000);
	updateTime();
</script>

<script type="text/javascript">
	$(document).ready(function () {
		$('.left.sidebar.menu')
			.sidebar('attach events', '.launch.icon.item', 'show');

		$('.launch.icon.item').removeClass('disabled');

		$('.ui.dropdown').dropdown();
	});
</script>
{% endblock %}