{% extends "base/default-page.html" %}

{% block content %}
<div style="display: flex; gap: 10px;">
	<a class="ui primary button" href="{{ url_for('admin.events.add_challenge', event_id=event.id) }}">
		<i class="plus icon"></i>Add Score Challenge
	</a>
	<a class="ui primary button" href="{{ url_for('admin.events.event_role', event_id=event.id) }}">
		<i class="user icon"></i>Manage User Role
	</a>
</div>

<div class="ui grid center aligned" style="margin-top: 2rem;">
	{% for i in range((event_categorys|length)) %}
	<div class="five wide column card-trigger" id="card-template">
		<div class="ui cards">
			<div class="ui fluid card">
				<div class="content">
					<div class="header">
						<i class="chess queen icon" style="visibility: visible;"></i>
						Question Category {{ event_categorys[i].name }}
					</div>
					<div class="content" style="margin-top: 1rem;">
						<table class="ui table" style="border: none !important;">
							<thead>
								<tr>
									<th class="one wide"></th>
									<th class="six wide">Challenges</th>
									<th class="two wide center aligned">Point</th>
									<th class="two wide center aligned"><i class="tint icon" style="color: red;"></i>
									</th>
									<th class="two wide center aligned"><i class="key icon"
											style="color: rgb(255, 196, 0);"></i></th>
									<th class="two wide center aligned"><i class="skull crossbones icon"></i></th>
								</tr>
							</thead>
							<tbody>
								{% for event_challenge in event_challenges %}
								{% if event_categorys[i].name == event_challenge.challenge.category.name %}
								<tr>
									<td><i class="cube icon" style="color: #386CAF;"></i></td>
									<td>{{ event_challenge.challenge.name }}</td>
									<td class="center aligned">{{ event_challenge.success_score }}</td>
									<td class="center aligned">{{ event_challenge.first_blood_score }} </td>
									<td class="center aligned">{{ event_challenge.hint_score }}</td>
									<td class="center aligned">{{ event_challenge.fail_score }} </td>
								</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}