{% extends "base/default-page.html" %}

{% block content %}
<div class="ui form">
    <form enctype="multipart/form-data" method="post">
        {% for field in form %}
        <div class="field">
            {{ field.label }}
            {{ field }}
            {% if field.errors %}
            <div class="ui pointing red basic label">
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <button class="ui primary button" type="submit">Save</button>
    </form>
</div>
{% endblock %}