{% extends "base/default-page.html" %}

{% block content %}
<div class="ui container">
    <h2 class="ui dividing header">Challenge Form</h2>
    <form class="ui form" enctype="multipart/form-data" method="post">
        {{ form.csrf_token }}
        <div class="field">
            {{ form.first_blood_score.label }}
            {{ form.first_blood_score(class="ui input") }}
        </div>

        <div class="field">
            {{ form.success_score.label }}
            {{ form.success_score(class="ui input") }}
        </div>

        <div class="field">
            {{ form.hint_score.label }}
            {{ form.hint_score(class="ui input") }}
        </div>

        <div class="field">
            {{ form.fail_score.label }}
            {{ form.fail_score(class="ui input") }}
        </div>

        <div class="field">
            {{ form.challenge.label }}
            {{ form.challenge(id="challenge",class="ui dropdown") }}
        </div>

        <div class="field">
            <button class="ui large primary button" type="submit">
                <i class="save icon"></i> Save
            </button>
        </div>
    </form>
    <div id='loader' style='display: none;'>
        <b>Loading..</b>
    </div>
    <div class='response'></div>
</div>

<script>
    $(document).ready(function(){
        $("#challenge").change(function(){
            var challengeId = $('#challenge').val();
            $("#loader").show();
            $('.response').empty();
            setTimeout(function() {
                $.ajax({
                    url: '/api/challenge/' + challengeId,
                    type: 'get',
                    success: function(response){
                        $('.response').append(`
                            <p>Name: ${response.name}</p>
                            <p>Category: ${response.category}</p>
                            <p>Answer Type: ${response.answer_type}</p>
                            <p>Answer: ${response.answer}</p>
                            <p>Description: ${response.description}</p>
                        `);
                        $("#loader").hide();
                    },
                    complete:function(data){
                        // Hide image container
                        $("#loader").hide();
                    }
                });
            }, 2000); 
        });
    });
    
</script>
{% endblock %}