{% extends "base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<div class="container mx-auto p-4">
  <div class="card bg-base-100 mb-5 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">
        {% if 'create' in request.path %}
        Create Score Challenge
        {% else %}
        Edit Score Challenge
        {% endif %}
      </h2>
    </div>
  </div>

  <div class="md:col-span-1 hidden" id="empty-column"></div>
  <div class="md:col-span-1">
    <form class="form-control gap-4" enctype="multipart/form-data" method="post">
      {{ form.csrf_token }}
      <div class="form-control">
        {{ form.first_blood_score.label(class="label") }}
        {{ form.first_blood_score(class="input input-bordered w-full") }}
      </div>

      <div class="form-control">
        {{ form.success_score.label(class="label") }}
        {{ form.success_score(class="input input-bordered w-full") }}
      </div>

      <div class="form-control">
        {{ form.hint_score.label(class="label") }}
        {{ form.hint_score(class="input input-bordered w-full") }}
      </div>

      <div class="form-control">
        {{ form.fail_score.label(class="label") }}
        {{ form.fail_score(class="input input-bordered w-full") }}
      </div>

      <div class="form-control">
        {{ form.challenge.label(class="label") }}
        <select class="select select-bordered w-full" name="challenge" id="challenge">
          <option disabled selected>Select a challenge</option>
          {% for choice in form.challenge.choices %}
          <option value="{{ choice[0] }}">{{ choice[1] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-control mt-4">
        <button class="btn btn-primary" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
            stroke="currentColor"></svg>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
          </svg>
          Save
        </button>
      </div>
    </form>
  </div>
  <div class="md:col-span-1 hidden" id="challenge-detail">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Challenge Detail</h2>
        <div class="response"></div>
      </div>
    </div>
  </div>
</div>

<div id="loader" class="fixed inset-0 bg-black bg-opacity-50 items-center justify-center hidden">
  <span class="loading loading-spinner loading-lg text-primary"></span>
</div>
</div>

<script>
  $(document).ready(function () {
    $("#challenge").change(function () {
      var challengeId = $('#challenge').val();
      if (challengeId) {
        $("#loader").removeClass('hidden').addClass('flex');
        $('#challenge-detail').addClass('hidden');
        $('#empty-column').addClass('hidden');
        $('.response').addClass('hidden').empty();

        setTimeout(function () {
          $.ajax({
            url: '/api/challenge/' + challengeId,
            type: 'get',
            success: function (response) {
              $('.response').html(`
                <div class="space-y-2">
                  <p><span class="font-bold">Name:</span> ${response.name}</p>
                  <p><span class="font-bold">Category:</span> ${response.category}</p>
                  <p><span class="font-bold">Answer Type:</span> ${response.answer_type}</p>
                  <p><span class="font-bold">Answer:</span> ${response.answer}</p>
                  <p><span class="font-bold">Description:</span> ${response.description}</p>
                </div>
              `);
            },
            complete: function () {
              $("#loader").removeClass('flex').addClass('hidden');
              $('#challenge-detail').removeClass('hidden');
              $('.response').removeClass('hidden');
            }
          });
        }, 1000);
      } else {
        $('#challenge-detail').addClass('hidden');
        $('#empty-column').removeClass('hidden');
        $('.response').addClass('hidden').empty();
      }
    });
  });
</script>
{% endblock %}