{% extends "base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<div class="ui container">
    <div class="ui segment">
        <h2 class="ui header">
            {% if 'create' in request.path %}
            Create Event
            {% else %}
            Edit Event
            {% endif %}
        </h2>
    </div>
    <form class="ui form" method="post">
        {{ form.csrf_token }}

        <div class="field">
            {{ form.code.label }}
            {{ form.code(class="ui input fluid") }}
        </div>

        <div class="field">
            {{ form.name.label }}
            {{ form.name(class="ui input fluid") }}
        </div>

        <div class="field">
            {{ form.description.label }}
            {{ form.description(class="ui input fluid") }}
        </div>

        <div class="field">
            {{ form.flag_prefix.label }}
            {{ form.flag_prefix(class="ui input fluid") }}
        </div>
        <div class="two fields">
            <div class="field">
                <label>{{ form.publish_started_date.label}}</label>
                <div class="ui calendar" id="{{ form.publish_started_date.id }}">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        {{ form.publish_started_date }}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>{{ form.publish_ended_date.label}}</label>
                <div class="ui calendar" id="{{ form.publish_ended_date.id }}">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        {{ form.publish_ended_date }}
                    </div>
                </div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>{{ form.register_started_date.label }}</label>
                <div class="ui calendar" id="{{ form.register_started_date.id}}">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        {{ form.register_started_date }}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>{{ form.register_ended_date.label}}</label>
                <div class="ui calendar" id="{{ form.register_ended_date.id}}">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        {{ form.register_ended_date }}
                    </div>
                </div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>{{ form.started_date.label }}</label>
                <div class="ui calendar" id="{{ form.started_date.id }}">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        {{ form.started_date }}
                    </div>
                </div>
            </div>
            
            <div class="field">
                <label>{{ form.ended_date.label }}</label>
                <div class="ui calendar" id="{{ form.ended_date.id }}">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        {{ form.ended_date }}
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            {{ form.type.label }}
            {{ form.type(class="ui dropdown fluid") }}
        </div>

        <div class="field">
            {{ form.status.label }}
            {{ form.status(class="ui dropdown fluid") }}
        </div>
        <div style="display: flex;justify-content: flex-end;">
            <button class="ui primary button " type="submit">
                <i class="save icon"></i> Save
            </button>
        </div>
    </form>
</div>
{% endblock content %}

{% block additional_js %}

<script type="text/javascript">

$('#publish_started_date').calendar({
    type: 'datetime',
    formatter: { datetime: 'DD-MM-YYYY HH:mm:ss' },
    ampm: false,
    monthFirst: false,
    endCalendar: $('#publish_ended_date'),
});

$('#publish_ended_date').calendar({
    type: 'datetime',
    formatter: { datetime: 'DD-MM-YYYY HH:mm:ss' },
    ampm: false,
    monthFirst: false,
    startCalendar: $('#publish_started_date'),
});

$('#register_started_date').calendar({
    type: 'datetime',
    formatter: { datetime: 'DD-MM-YYYY HH:mm:ss' },
    ampm: false,
    monthFirst: false,
    endCalendar: $('#register_ended_date'),
});

$('#register_ended_date').calendar({
    type: 'datetime',
    ampm: false,
    monthFirst: false,
    formatter: { datetime: "DD-MM-YYYY HH:mm:ss" },  
    startCalendar: $('#register_started_date'),
});

$('#started_date').calendar({
    type: 'datetime',
    formatter: { datetime: 'DD-MM-YYYY HH:mm:ss' },
    ampm: false,
    monthFirst: false,
    endCalendar: $('#ended_date'),
});

$('#ended_date').calendar({
    type: 'datetime',
    ampm: false,
    monthFirst: false,
    startCalendar: $('#started_date'),
    formatter: { datetime: "DD-MM-YYYY HH:mm:ss" },  
});

</script>



{% endblock additional_js %}