{% extends "base/default-page.html" %}
{% import '/base/html-renderer-refactor.html' as renderer %}

{% block content %}
<div class="max-w-3xl mx-auto px-4">
  <div class="card bg-base-100 border-1 border-gray-300 mb-6">
    <div class="card-body">
      <h2 class="card-title text-2xl">
        {% if 'create' in request.path %}
        Create Event
        {% else %}
        Edit Event
        {% endif %}
      </h2>
    </div>
  </div>

  <form class="form-control" method="post">
    {{ form.csrf_token }}

    <div class="mb-4">
      {{ renderer.render_field(form.code) }}
    </div>

    <div class="mb-4">
      {{ renderer.render_field(form.name) }}
    </div>

    <div class="mb-4">
      {{ renderer.render_text_area_field(form.description) }}
    </div>

    <div class="mb-4">
      {{ renderer.render_text_area_field(form.flag_prefix) }}
    </div>

    <!-- <div>
            <button popovertarget="cally-popover1" class="input input-border" id="cally1" style="anchor-name:--cally1">
                Pick a date
            </button>
            <div popover id="cally-popover1" class="dropdown bg-base-100 rounded-box shadow-lg" style="position-anchor:--cally1">
                <calendar-date class="cally" onchange="document.getElementById('cally1').innerText = this.value">
                <svg aria-label="Previous" class="fill-current size-4" slot="previous" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.75 19.5 8.25 12l7.5-7.5"></path></svg>
                <svg aria-label="Next" class="fill-current size-4" slot="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path></svg>
                <calendar-month></calendar-month>
                </calendar-date>
            </div>
        </div> -->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
      <div>
        <div class="relative" id="{{ form.publish_started_date.id }}_wrapper">
          {{ renderer.render_datetime_field(form.publish_started_date) }}
        </div>
      </div>
      <div>
        <div class="relative" id="{{ form.publish_ended_date.id }}_wrapper">
          {{ renderer.render_datetime_field(form.publish_ended_date) }}
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
      <div>
        <div class="relative" id="{{ form.register_started_date.id }}_wrapper">
          {{ renderer.render_datetime_field(form.register_started_date) }}
        </div>
      </div>
      <div>
        <div class="relative" id="{{ form.register_ended_date.id }}_wrapper">
          {{ renderer.render_datetime_field(form.register_ended_date) }}
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
      <div>
        <div class="relative" id="{{ form.started_date.id }}_wrapper">
          {{ renderer.render_datetime_field(form.started_date) }}
        </div>
      </div>
      <div>
        <div class="relative" id="{{ form.ended_date.id }}_wrapper">
          {{ renderer.render_datetime_field(form.ended_date) }}
        </div>
      </div>
    </div>

    <div class="mb-4">
      {{ renderer.render_select_field(form.type) }}
    </div>

    <div class="mb-4">
      {{ renderer.render_select_field(form.status) }}
    </div>

    <div class="flex justify-end mt-6 mb-6">
      <button class="btn btn-primary" type="submit">
        <i class="ph ph-floppy-disk"></i>
        Save
      </button>
    </div>
  </form>
</div>
{% endblock content %}

{% block additional_js %}
{% endblock additional_js %}