{% extends "base/default-page.html" %}

{% block content %}
<div><a href="{{ url_for('admin.events.create_or_edit') }}"> Create Event</a></div>
{% for  event in events %}
    <div>Name : {{ event.name }}</div>
    <div>Description : {{ event.description }}</div>
    <div>Type : {{ event.type }}</div>
    <div>Flag prefix : {{ event.flag_prefix }}</div>
    <div>Date : {{ event.started_date }} - {{ event.ended_date }} </div>
    <div>Status : {{ event.status }}</div>
    <div>Created Date : {{ event.created_date }}</div>
    <div>Created By : {{ event.created_by.get_fullname() }}</div>
    <div>Updated Date : {{ event.updated_date }}</div>
    <div>Updated By {{ event.updated_by.get_fullname() }}</div>
    <div><a href="{{ url_for('admin.events.create_or_edit',event_id=event.id) }}">Edit Event</a></div>
    <div><a href="{{ url_for('admin.events.challenge',event_id=event.id) }}">Event Challenges</a></div>
{% endfor %}
{% endblock %}