{% extends "base/default-page.html" %}

{% block content %}
<div class="ui fluid container">
    <h2 class="ui header">Transaction History</h2>
    <div class="ui segments">
        {% for transaction in transactions %}
        <div class="ui segment">
            <div class="ui divided items">
                <div class="item">
                    <div class="content">
                        <div class="header">{{ transaction.user.get_fullname() }}</div>
                        <div class="meta">
                            {% if transaction.team %}
                            <span class="team-name"><strong>Team:</strong> {{ transaction.team.name }}</span>
                            {% endif %}
                        </div>
                        <div class="left floated content">
                            <span><strong>Time: </strong> {{
                                transaction.created_date.strftime("%Y-%m-%d %H:%M:%S") }}</span>
                            <div class="header"> <i class="folder yellow icon"></i>
                                <strong>Answer:</strong><span style="color: rgb(0, 123, 255);"> {{transaction.answer }}
                                </span>
                                <i class="star yellow icon"></i><strong>Score:</strong> {{ transaction.score }}
                            </div>
                        </div>
                        <div class="right floated content">
                            {% set button_classes = {
                            'hint': 'blue',
                            'first_blood': 'orange',
                            'success': 'green',
                            'fail': 'red'
                            } %}

                            {% set button_labels = {
                            'hint': 'Hint',
                            'first_blood': 'FirstBlood',
                            'success': 'Success',
                            'fail': 'Fail'
                            } %}

                            {% for status, color in button_classes.items() %}
                            <button
                                class="ui {% if transaction.status == status %}{{ color }}{% else %}disabled{% endif %} button"
                                style="border-radius: 2rem;">
                                {{ button_labels[status] }}
                            </button>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div>
        {% with redirect=url_for("admin.events.view_transactions", event_challenge_id=event_challenge.id,
        event_id=event.id) %}
        {% include "base/pagination.html" %}
        {% endwith %}

    </div>
</div>
{% endblock %}