{% extends "base/default-page.html" %}

{% block content %}
<div class="ui container" style="margin-top: 2rem;">
    <h2 class="ui header">Transaction History</h2>
    <div class="ui segments">
        {% for transaction in transactions %}
        <div class="ui segment">
            <div class="ui divided items">
                <div class="item">
                    <div class="content">
                        <div class="header">{{ transaction.user.get_fullname() }}</div>
                        <div class="meta">
                            {% if transaction.team %}
                            <span class="team-name"><strong>Team:</strong> {{ transaction.team.name }}</span>
                            {% endif %}
                        </div>
                        <div class="left floated content">
                            <div class="header"> <i class="folder yellow icon"></i>
                                <strong>Answer:</strong><span style="color: rgb(0, 123, 255);"> {{transaction.answer }}
                                </span>
                                <i class="star yellow icon"></i><strong>Score:</strong> {{ transaction.score }}
                            </div>
                        </div>
                        <div class="right floated content">
                            {% if transaction.status == 'hint' %}
                            <button class="ui blue button" style="border-radius: 2rem;">
                                Hint
                            </button>
                            {% else %}
                            <button class="ui disabled button" style="border-radius: 2rem;">
                                Hint
                            </button>
                            {% endif %}

                            {% if transaction.status == 'first_blood' %}
                            <button class="ui orange button" style="border-radius: 2rem;">
                                FirstBlood
                            </button>
                            {% else %}
                            <button class="ui disabled button" style="border-radius: 2rem;">
                                FirstBlood
                            </button>
                            {% endif %}

                            {% if transaction.status == 'success' %}
                            <button class="ui green button" style="border-radius: 2rem;">
                                Success
                            </button>
                            {% else %}
                            <button class="ui disabled button" style="border-radius: 2rem;">
                                Success
                            </button>
                            {% endif %}

                            {% if transaction.status == 'fail' %}
                            <button class="ui red button" style="border-radius: 2rem;">
                                Fail
                            </button>
                            {% else %}
                            <button class="ui disabled button" style="border-radius: 2rem;">
                                Fail
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div>
        {% with redirect=url_for("admin.events.view_transactions", event_challenge_id=event_challenge.id,
        event_id=event.id) %}
        {% include "base/pagination.html" %}
        {% endwith %}

    </div>
</div>
{% endblock %}