{% extends "base/default-page.html" %}

{% block content %}
<a class="ui primary labeled icon button" href="{{ url_for('admin.challenges.create_or_edit') }}" style="color: white;">
	<i class="add icon"></i>create challenge
</a>

<div>
	<div class="ui grid center aligned" style="padding: 1rem;">
		{% for i in range((event_categorys|length)) %}
		<div class="five wide column" id="card-template">
			<div class="ui cards">
				<div class="ui fluid card">
					<div class="content">
						<div class="header">
							<i class="chess queen icon" style="visibility: visible;"></i>
							Question Category <span style="color: #386CAF;">{{ event_categorys[i].name }}</span>
						</div>
						<div class="content" style="margin-top: 1rem;">
							<table class="ui table" style="border: none !important;">
								<thead>
									<tr>
										<th class="one wide"></th>
										<th class="eleven wide">Challenges</th>
										<th> action </th>
									</tr>
								</thead>
								<tbody>
									{% for challenge in challenges %}
									{% if event_categorys[i].name == challenge.category.name %}
									<tr>
										<td><i class="cube icon" style="color: #386CAF;"></i></td>
										<td>{{ challenge.name }}</td>
										<td>
											<a class="ui icon yellow button"
											href="{{ url_for('admin.challenges.create_or_edit',challenge_id=challenge.id ) }}"
											aria-label="Edit Challenge">
											<i class="edit icon"></i>
											</a>
											<a class="ui icon yellow button"
											href="{{ url_for('admin.challenges.view_file_challenge',challenge_id=challenge.id ) }}"
											aria-label="File Challenge">
											<i class="file icon"></i>
											</a>
										</td>
									</tr>
									{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}