{% extends "base/default-page.html" %}

{% block content %}
<a href="{{ url_for('admin.challenges.create_or_edit') }}">
    create challenge
</a>
<div>
    <div class="ui secondary menu" style="font-size: medium;">
		<div class="item">
			<h3><i class="star icon"></i> Challenges</h3>
		</div>
		<div class="item">
			<i class="user friends icon"></i> Team Rank
		</div>
		<div class="right menu">
			<div class="item">
				<i class="user friends icon"></i> Team Score 0
			</div>
			<div class="item">
				<i class="user friends icon"></i> Team Rank 0
			</div>
		</div>
	</div>
    <div class="ui grid center aligned">
        {% for i in range((event_categorys|length)) %}
        <div class="five wide column" id="card-template">
            <div class="ui cards">
                <div class="ui fluid card">
                    <div class="ui fluid card">
                        <div class="header">
							<i class="chess queen icon" style="visibility: visible;"></i>
							Question Category {{ event_categorys[i].name }}
						</div>
                        <div class="content" style="margin-top: 1rem;">
							<table class="ui table" style="border: none !important;">
								<thead>
									<tr>
										<th class="one wide"></th>
										<th class="six wide">Challenges</th>
										<th class="two wide center aligned">Point</th>
										<th class="two wide center aligned"><i class="tint icon"
												style="color: red;"></i></th>
										<th class="two wide center aligned"><i class="key icon"
												style="color: rgb(255, 196, 0);"></i></th>
										<th class="two wide center aligned">Solves</th>
									</tr>
								</thead>
								<tbody>
                                    {% for challenge in challenges %}
                                    {% if event_categorys[i].name == challenge.category.name  %}
									<tr>
										<td><i class="cube icon" style="color: #386CAF;"></i></td>
										<td>{{ challenge.name }}</td>
									</tr>
                                    {% endif %}
                                    {% endfor %}
								</tbody>
							</table>
						</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}