# Application Secrets & Configuration
SECRET_KEY=noppakao-secretkey

# Database Settings
MONGODB_DB=noppakaodb
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USERNAME=
MONGODB_PASSWORD=

# Google OAuth Settings
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_BASE_URL=https://www.googleapis.com/oauth2/v1
GOOGLE_SERVER_METADATA_URL=https://accounts.google.com/.well-known/openid-configuration
