{% extends "base/default-page.html" %}

{% block content %}
<style>
    .dashboard-box {
        color: rgb(255, 255, 255);
        height: 50px;
        background-color: rgb(50, 78, 156);
        border: 1px solid rgb(123, 123, 123);
        border-radius: 5px;
        text-align: center;
        line-height: 50px;
        font-family: monospace;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .table-container {
        margin-bottom: 20px;
    }

    .left-aligned {
        text-align: left;
    }

    .no-margin .row {
        margin: 0 !important;
        padding: 0 !important;
    }


    @keyframes flash {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .flash-red {
        color: red;
        animation: flash 1s infinite;
    }
</style>

<div class="dashboard-box">
    Leaderboard
</div>

{#NEW#}
<div class="ui grid no-margin">


    {#SCORE BOARD#}
    {% if event.type == "team" %}

    <div class="two column row">
        <div class="column">
            <table class="ui inverted table">
                <thead style="background-color:rgb(50, 78, 156)">
                    <tr>
                        <th scope="col" style="color: rgb(255, 255, 255);">Team Rank</th>
                        <th scope="col" style="color: rgb(255, 255, 255); text-align: right;">Updated every 1 minutes
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="column">
            <table class="ui inverted table">
                <thead style="background-color:rgb(50, 78, 156)">
                    <tr>
                        <th scope="col" style="color: rgb(255, 255, 255);">Individual Rank</th>
                        <th scope="col" style="color: rgb(255, 255, 255); text-align: right;">
                            <span class="transparent-bg">Countdown timer :
                                <a class="item" style="color: white;">
                                    <span id="countdown"></span>
                                </a>
                            </span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="two column row">
        <div class="column">
            <div class="table-container">
                <table class="ui inverted table">
                    <thead style="background-color:rgb(70, 103, 194);">
                        <tr>
                            <th scope="col" style="color: rgb(255, 255, 255); width: 2rem;">Raking</th>
                            <th scope="col" style="color: rgb(255, 255, 255); width: 2rem;">Team</th>
                            <th></th>
                            <th></th>
                            <th scope="col" class="left-aligned" style="color: rgb(255, 255, 255);">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams_transaction %}
                        {% if loop.index % 2 != 0 %}
                        <tr style="color: rgb(0, 0, 0); background-color: rgb(230, 230, 230)">
                            {% else %}
                        <tr style="color: rgb(0, 0, 0); background-color: rgb(210, 210, 210)">
                            {% endif %}
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if team.organization_id %}
                                <span class="ui picture header">
                                    <img src="{{ team.organization_image }}"
                                        style="width: 35px; height: 35px;">
                                </span>
                                <span></span>
                                {% else %}
                                <div>
                                    No Organization
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if team.team_id and team.organization_id%}
                                <span class="ui picture header">
                                    <img src="{{url_for('teams.get_image',team_id=team.team_id)}}"
                                        style="width: 35px; height: 35px;">
                                </span>
                                {% else %}
                                <div>
                                    No Team
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if team.team_id %}
                                <span>
                                    <div style="font-weight: bold;">{{ team.name }}</div>
                                    <div>{{ team.organization_name }}</div>
                                </span>
                                {% else %}
                                <div>
                                    No Team
                                </div>
                                {% endif %}
                            </td>
                            
                            {% if not team.total_score %}
                            <td class="left-aligned">0</td>
                            {% else %}
                            <td class="left-aligned">{{ team.total_score }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column">
            <div class="table-container">
                <table class="ui inverted table">
                    <thead style="background-color:rgb(70, 103, 194);">
                        <tr>
                            
                            <th scope="col" style="color: rgb(255, 255, 255); width: 2rem;">Raking</th>
                            <th scope="col" style="color: rgb(255, 255, 255); width: 2rem;">Name</th>
                            <th scope="col" style="color: rgb(255, 255, 255); width: 2rem;">Team</th>
                            <th></th>
                            <th></th>
                            <th scope="col" class="left-aligned" style="color: rgb(255, 255, 255);">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users_transaction %}
                        {% if loop.index % 2 != 0 %}
                        <tr style="color: rgb(0, 0, 0); background-color: rgb(230, 230, 230)">
                            {% else %}
                        <tr style="color: rgb(0, 0, 0); background-color: rgb(210, 210, 210)">
                            {% endif %}
                            <td>{{ loop.index }}</td>
                            <td>{{ user.display_name }} </td>
                            <td>
                                {% if user.organization_id %}
                                <span class="ui picture header">
                                    <img src="{{ url_for('organizations.display_image', organization_id=user.organization_id ,filename=user.organization_image) }}"
                                        style="width: 35px; height: 35px;">
                                </span>
                                {% else %}
                                <div>
                                    No Organization
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.team_id %}
                                <span class="ui picture header">
                                    <img src="{{url_for('teams.get_image',team_id=user.team_id)}}"
                                        style="width: 35px; height: 35px;">
                                </span>
                                {% else %}
                                <div>
                                    No Team
                                </div>
                                {% endif %}
                            </td>
                            
                            <td>
                                {% if user.team and  user.organization_name %}
                                <span>
                                    <div style="font-weight: bold;">{{ user.team }}</div>
                                    <div>{{ user.organization_name }}</div>
                                </span>
                                {% else %}
                                <div>
                                    No Team or Organization
                                </div>
                                {% endif %}
                            </td>

                            {% if user.total_score == 0 %}
                            <td class="left-aligned">0</td>
                            {% else %}
                            <td class="left-aligned">{{ user.total_score }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="one column row">
        <div class="column">
            <table class="ui inverted table">
                <thead style="background-color:rgb(50, 78, 156)">
                    <tr>
                        <th scope="col" style="color: rgb(255, 255, 255);">Individual Rank Updated (Updated every 1
                            minutes)</th>
                        <th scope="col" style="color: rgb(255, 255, 255); text-align: right;">
                            <span class="transparent-bg">Countdown timer :
                                <a class="item" style="color: white;">
                                    <span id="countdown"></span>
                                </a>
                            </span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="one column row">
        <div class="column">
            <div class="table-container">
                <table class="ui inverted table">
                    <thead style="background-color:rgb(70, 103, 194);">
                        <tr>
                            <th scope="col" style="color: rgb(255, 255, 255);">Raking</th>
                            <th scope="col" style="color: rgb(255, 255, 255);">Name</th>
                            <th scope="col" style="color: rgb(255, 255, 255);">Organization</th>
                            <th scope="col" class="left-aligned" style="color: rgb(255, 255, 255);">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users_transaction %}
                        {% if loop.index % 2 != 0 %}
                        <tr style="color: rgb(0, 0, 0); background-color: rgb(200, 200, 200)">
                            {% else %}
                        <tr style="color: rgb(0, 0, 0); background-color: rgb(180, 180, 180)">
                            {% endif %}
                            <td>{{ loop.index }}</td>
                            <td>{{ user.display_name }}</td>
                            <td>
                                {% if user.organization_id %}
                                <span class="ui picture header">
                                    <img src="{{ url_for('organizations.display_image', organization_id=user.organization_id ,filename=user.organization_image) }}"
                                        style="width: 35px; height: 35px;">
                                </span>
                                <span>{{ user.organization_name }}</span>
                                {% else %}
                                <div>
                                    No Organization
                                </div>
                                {% endif %}
                            </td>
                            {% if not user.total_score %}
                            <td class="left-aligned">0</td>
                            {% else %}
                            <td class="left-aligned">{{ user.total_score }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block additional_js %}

<script type="text/javascript">
    function countdown(ended_date) {
        const countDownDate = new Date(ended_date).getTime();

        const x = setInterval(function () {
            const now = new Date().getTime();
            const distance = countDownDate - now;

            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("countdown").innerHTML = '<i class="clock outline icon"></i>' + days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = '<i class="clock outline icon"></i> Out Of Time';
                document.getElementById("countdown").classList.add("flash-red");
            }
        }, 1000);
    }

    window.onload = function () {
        const ended_date = "{{ event.ended_date }}";
        console.log("Initial Ended Date:", ended_date);
        countdown(ended_date);
    }
</script>

{% endblock additional_js %}
