{% extends "base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<style>
  .ui.segment {
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
  }

  .ui.header {
    color: rgb(0, 255, 35);
  }

  .blue-button {
    background-color: rgb(0, 120, 255);
    color: white;
  }

  .ui.primary.labeled.icon.button {
    background-color: rgb(0, 255, 35);
    color: black;
  }
</style>
<div class="ui segment" style="border: 1px solid rgb(123, 123, 123);">

  <h1 class="ui header">
    Users
  </h1>

</div>

<div class="ui segment" style="border: 1px solid rgb(123, 123, 123);">

  <a class="ui primary labeled icon button blue-button" href="{{url_for('users.create_or_edit')}}">
    <i class="add icon"></i>
    Create user
  </a>

  <table class="ui selectable inverted table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Recover</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td data-label="Name">{{user.first_name}} {{user.last_name}}</td>
        <td data-label="Email">{{user.email}}</td>
        <td data-label="Phone">{{user.phone_number}}</td>
        <td data-label="Status">{{user.status}}</td>
        <td data-label="Edit"><a href="{{url_for('users.create_or_edit', user_id=user.id)}}"><i
              class="edit icon yellow"></i></a>
        </td>
        <td data-label="Delete"><a onclick="showDeleteModal('{{ user.id }}')"><i class="trash icon red"></i></a>
        </td>
        <td data-label="Recover"><a href="{{ url_for('users.recover',user_id=user.id)}}"><i class="redo icon"></i></a>
        </td>
      </tr>
      <div class="ui small modal {{user.id}}"
        style="background-color: black; color: white;font-size: 20px; border: 1px solid rgb(0, 255, 35);">
        <div class="header"
          style="background-color: black; color: white;font-size: 20px; border: 1px solid rgb(0, 255, 35);">{{ ("Delete
          User") }}</div>
        <div class="content" style="background-color: black; color: white;font-size: 20px; ">
          <h4 class="ui headers">
            {{ ("Are you sure you want to delete") }} <span class="ui red text">{{ user.first_name }} {{ user.last_name
              }}</span> {{
            ("user?") }}
          </h4>
          <a class="ui right floated negative button" style="margin-bottom: 1em;"
            href="{{url_for('users.delete', user_id=user.id)}}">
            {{ ("Delete") }}</i>
          </a>
          <button class="ui right floated button" onclick="showDeleteModal()">{{ ("Cancel") }}</button>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>

</div>



{% endblock %}

{% block additional_js %}
{#
<script>
  function showCreateCategory(category_id) {
    $('.create.' + category_id).modal('show')
  }
</script>
#}
<script>
  function showDeleteModal(user_id) {
    user_id ? $('.ui.small.modal.' + user_id).modal('show') : $('.ui.small.modal').modal('hide')
      ;
  }
</script>
{% endblock %}