{% extends "/base/default-page.html" %}



{% block content %}
<style>
    .ui.segment {
      background-color: rgb(10, 10, 10);
      border-radius: 5px;
    }
  
    .ui.header {
      color: rgb(0, 255, 35);
    }
  
    .blue-button {
      background-color: rgb(0, 120, 255);
      color: white;
    }
  
    .ui.primary.labeled.icon.button {
      background-color: rgb(0, 255, 35);
      color: black;
    }
    div {
        color: rgb(25, 255, 75);
    }

</style>

{% block breadcrumbs %}
<div class="ui segment" style="border: 1px solid rgb(123, 123, 123);">
    <a href="{{ url_for('accounts.index') }}">
        <h1 class="ui header">
        Profile
        </h1>
    </a>
</div>

{% endblock %}

<div class="ui segment" style="border: 1px solid rgb(123, 123, 123);">
    <div class="ui header large text">Profile </div>

    <div class="ui grid">
        <div class="eight wide column">
            <p class="sub header ui huge text">First Name
            <div>{{ current_user.first_name }}</div>
            </p>
        </div>
        <div class="eight wide column">
            <p class="sub header ui huge text">Last Name
            <div>{{ current_user.last_name }}</div>
            </p>
        </div>
    </div>

    <div class="ui grid">
        <div class="eight wide column">
            <p class="sub header ui huge text">Email
            <div>{{ current_user.email }}</div>
            </p>
        </div>
        <div class="eight wide column">
            <p class="sub header ui huge text">Phonenumber
            <div>{{ current_user.phone_number }}</div>
            </p>
        </div>
    </div>
</div>





{% endblock %}