{% macro FirstBloodDialog() %}
<div class="ui modal">
    <div class="header">First Blood</div>
</div>
<script>
    $('.ui.modal')
    .modal('show');
</script>
{% endmacro %}

{% macro FailDialog() %}
<div class="ui modal">
    <div class="header">Fail</div>
</div>
<script>
    $('.ui.modal')
    .modal('show');
</script>
{% endmacro %}

{% macro SuccessDialog() %}
<div class="ui modal">
    <div class="header">Success</div>
</div>
<script>
    $('.ui.modal')
    .modal('show');
</script>
{% endmacro %}