{% macro FirstBloodDialog(redirect_url=none) %}
<div class="fireworks absolute inset-0 z-10 pointer-events-none"></div>

<div class="modal" id="firstBloodModal">
  <div class="modal-box max-w-[350px] text-center rounded-2xl">
    <div class="p-8">
      <div class="text-8xl text-warning">
        <i
          class="ph ph-campfire animate-[pulse_1.5s_ease-in-out_infinite] hover:animate-[bounce_0.5s_ease-in-out_infinite]"></i>
      </div>
      <h2 class="mt-4 text-4xl font-bold text-warning">First Blood</h2>
      <p class="mt-2 text-base text-neutral-700">Congratulations! You are the first to solve this challenge!</p>
      <a href="{{ redirect_url }}" class="mt-4 btn btn-warning rounded-full" onclick="closeModal()">OKAY</a>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>
<script src="https://unpkg.com/fireworks-js@2.x/dist/index.umd.js"></script>
<script>
  const container = document.querySelector('.fireworks')
  const fireworks = new Fireworks.default(container)
  fireworks.start()
</script>
<script>
  function closeModal() {
    document.getElementById('firstBloodModal').classList.remove('modal-open');
  }
  // Show modal on load
  document.getElementById('firstBloodModal').classList.add('modal-open');
</script>
{% endmacro %}


{% macro FailDialog(redirect_url=none) %}
<div class="modal" id="failModal">
  <div class="modal-box max-w-[350px] text-center rounded-2xl">
    <div class="p-8">
      <div class="text-8xl text-error">
        <i class="ph ph-x-circle"></i>
      </div>
      <h2 class="mt-4 text-4xl font-bold text-error">Sorry :(</h2>
      <p class="mt-2 text-base text-neutral-700">Something went wrong, please try again!</p>
      <a href="{{ redirect_url }}" class="mt-4 btn btn-error rounded-full" onclick="closeModal()">TRY AGAIN</a>
    </div>
  </div>
</div>

<script>
  function closeModal() {
    document.getElementById('failModal').classList.remove('modal-open');
  }
  // Show modal on load
  document.getElementById('failModal').classList.add('modal-open');
</script>
{% endmacro %}


{% macro SuccessDialog(redirect_url=none) %}
<div class="fireworks absolute inset-0 z-10 pointer-events-none"></div>

<div class="modal" id="successModal">
  <div class="modal-box max-w-[350px] text-center rounded-2xl">
    <div class="p-8">
      <div class="text-8xl text-success">
        <i
          class="ph ph-check-circle animate-[pulse_1.5s_ease-in-out_infinite] hover:animate-[bounce_0.5s_ease-in-out_infinite]"></i>
      </div>
      <h2 class="mt-4 text-4xl font-bold text-success">Success!</h2>
      <p class="mt-2 text-base text-neutral-700">You have successfully completed the challenge!</p>
      <a href="{{ redirect_url }}" class="mt-4 btn btn-success rounded-full" onclick="closeModal()">OKAY</a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fireworks-js@2.x/dist/index.umd.js"></script>
<script src="https://unpkg.com/fireworks-js@2.x/dist/index.umd.js"></script>
<script>
  const container = document.querySelector('.fireworks')
  const fireworks = new Fireworks.default(container)
  fireworks.start()
</script>
<script>
  function closeModal() {
    document.getElementById('successModal').classList.remove('modal-open');
  }
  // Show modal on load
  document.getElementById('successModal').classList.add('modal-open');
</script>
{% endmacro %}