{% if 'admin' in current_user.roles %}
{% extends "base/default-page.html" %}
{% else %}
{% extends "/base/default-page-user.html" %}
{% endif %}

{% import '/base/html-renderer-refactor.html' as renderer %}

{% block content %}
<div class="max-w-xl mx-auto">
    <div class="card bg-base-100 border-1 border-gray-300 mb-6">
        <div class="card-body">
            <h2 class="card-title text-2xl">Change Password</h2>
        </div>
    </div>

    <form method="post">
        <div class="grid grid-cols-1 gap-3">
            {{ form.csrf_token }}
            {{ renderer.base_render(form.current_password, type="password") }}
            {{ renderer.base_render(form.new_password, type="password") }}
            {{ renderer.base_render(form.confirm_password, type="password") }}
        </div>

        {% if msg_error %}
        <div class="text-error mt-3">
            <div class="header">{{ msg_error }}</div>
        </div>
        {% endif %}


        <div style="display: flex; justify-content: flex-end;" class="mt-4">
            <a href="{{ url_for('accounts.index') }}" class="btn btn-ghost mr-2">Cancel</a>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>
</div>
{% endblock %}