{% include "base-refactor/base-layout.html" %}
{% import '/base-refactor/html-renderer.html' as renderer %}

{% block content %}
<div class="justify-center items-center flex min-h-screen">
    <div class="card max-w-[550px] w-full rounded-xl border-1 shadow-lg border-gray-200">
        <div class="card-body">
            <h2 class="card-title">
                <i class="ph ph-lock-open text-4xl"></i>Log-in to your account
            </h2>
            <div class="gap-4 flex flex-col mt-4">
                {% if form.errors %}
                <div role="alert" class="alert alert-error alert-soft">
                    {{ form.errors }}
                </div>
                {% endif %}
                {% if messages %}
                <div role="alert" class="alert alert-error alert-soft">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <form method="POST" class="gap-4 flex flex-col">
                    {{ form.csrf_token }}
                    <div class="field">
                        <label class="input w-full">
                            <i class="ph ph-user text-lg"></i>
                            {{ form.username(class="prompt", placeholder="Username") }}
                        </label>
                    </div>
                    <div class="field">
                        <label class="input w-full">
                            <i class="ph ph-lock text-lg"></i>
                            {{ form.password(class="prompt", placeholder="Password", type="password") }}
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary w-full">Login</button>
                    </div>
                </form>
            </div>
            <div class="divider text-gray-400">OR</div>
            <a href="{{url_for('accounts.register')}}">
                <button class="btn w-full text-gray-500">
                    <i class="ph ph-pencil-simple-line text-2xl"></i>Sign Up
                </button>
            </a>
        </div>
    </div>
</div>
<div>{% include "/base/footer.html" %}</div>
{% endblock %}