{% include "base/base-layout.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<form method="POST">
  <div class="ui middle aligned center aligned grid" style="min-height: 75vh;">
    <div class="column"
      style="max-width: 550px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 20px;">
      <h2 class="ui primary header">
        <i class="sign in alternate icon"></i>
        <div class="content">
          Sign-Up to your account
        </div>
      </h2>
      <div class="ui form">
        {{ form.csrf_token }}
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.display_name(class="prompt" ,placeholder="Display Name") }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.username(class="prompt" ,placeholder="Username") }}
          </div>
        </div>
        {% if "edit" not in request.path %}
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password(class="prompt" ,placeholder="Password") }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.confirm_password(class="prompt" ,placeholder="Confirm Password") }}
          </div>
        </div>
        {% endif %}
        <div class="two fields">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              {{ form.first_name(class="prompt" ,placeholder="First name") }}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              {{ form.last_name(class="prompt" ,placeholder="Last name") }}
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="envelope icon"></i>
            {{ form.email(class="prompt" ,placeholder="Example@email.com") }}
          </div>
        </div>
        {% if msg_error %}
        <div class="ui negative message">
          <div class="header">{{ msg_error }}</div>
        </div>
        {% endif %}
        <p></p>
        <div class="field">
          <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="ui primary fluid large button">Submit</button>
          </div>
        </div>

        <div class="field">
          <div class="ui horizontal divider mt-4">
            Or
          </div>
        </div>

        <div class="field">
          <div class="d-flex justify-content-center">
            <a href="{{url_for('accounts.login')}}" class="ui fluid large button" style="background-color: #CDDFEF;"><i
                class="sign in alternate icon"></i>Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div>{% include "/base/footer.html" %}</div>
{% endblock %}