{% extends "/base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<style>
    .ui.segment {
        color: rgb(0, 255, 35);
        background-color: rgb(10, 10, 10);
        border-radius: 5px;
    }

    .ui.primary.button {
        background-color: rgb(0, 255, 35);
        /* Change this to the desired color */
        color: #000000;
        /* Change this to the desired text color */
    }

    .field {
        background-color: rgb(10, 10, 10);

    }
</style>
<div class="ui segment" style="border: 1px solid rgb(123, 123, 123);">
    {% if 'edit' in request.path %}
    <h1>Update</h1>
    {%else%}
    <h1>Create Flag</h1>
    {%endif%}
    <form method="POST" class="ui form" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ renderer.render_field(form.problem_header) }}
        </div>
        <div class="field">
            {{ renderer.render_field(form.description) }}
        </div>
        <div class="field">
            {{ renderer.render_select(form.category) }}
        </div>
        <div class="field">
            {{ renderer.render_field(form.hint) }}
        </div>
        <div class="field">
            {{ renderer.render_field(form.point) }}
        </div>
        <div class="field">
            {{ renderer.render_field(form.flag) }}
        </div>
        <div class="field">
            {{ renderer.render_field(form.uploaded_file) }}
        </div>
        <p></p>
        <button type="submit" class="ui primary button">Submit</button>
    </form>
</div>
{% endblock %}