{% extends "base/default-page-user.html" %}
{% set strike = current_user.get_course_streak() %}
{% macro render_course_card(course) %}
<div
   class="w-full bg-[#EFEEEE] rounded-md flex flex-col @min-[850px]:flex-row shadow-md h-auto @min-[850px]:h-44 relative">
   <div class="relative w-full @min-[850px]:w-56 h-44 @min-[850px]:h-full shrink-0">
      <img
         src="{{ course.course.get_image() }}"
         alt="Course Thumbnail"
         class="absolute inset-0 w-full h-full object-cover rounded-t-md @min-[850px]:rounded-l-md @min-[850px]:rounded-t-none"
         loading="lazy"
         width="224"
         height="176"
      />
   </div>
   <div
      class="flex flex-col @min-[850px]:flex-row w-full h-full p-4 @min-[850px]:p-6 justify-between items-start @min-[850px]:items-center gap-4">
      <div class="flex flex-col justify-between w-full @min-[850px]:max-w-[70%] gap-4">
         <div>
            <p class="font-semibold text-xl">{{ course.course.name }}</p>
            <p class="text-xs text-[#494949] mt-1 text-balance line-clamp-3 ">
              {{ course.course.description if course.course.description else "No description available." }}
            </p>
         </div>
         <div class="flex items-center gap-4">
            <p class="font-semibold">Progress:</p>
            <progress class="progress progress-primary w-full h-1" value="{{ course.current_exp }}" max="{{ course.total_exp }}"></progress>
         </div>
      </div>

      <div
         class="w-full flex flex-row @min-[850px]:w-auto @min-[850px]:flex-col justify-between items-start @min-[850px]:items-end gap-2 h-full">
         <div
            class="badge badge-soft badge-primary absolute top-4 right-4 @min-[850px]:relative @min-[850px]:top-0 @min-[850px]:left-0">
            {{ course.course.type.name }}</div>
         <a class="btn btn-primary w-full" href="{{ url_for('course.course_content', course_id=course.course.id, page_id=None) }}">
            Continue
         </a>
      </div>
   </div>
</div>
{% endmacro %}

{% block content %}
<div class="flex flex-col gap-7">
   <p class="font-bold text-2xl">Dashboard</p>
   <div class="w-full h-40 bg-[#EFEEEE] rounded-md p-6 flex flex-row items-center justify-between">
      <div class="flex flex-row gap-10 min-w-[50%] w-full items-center h-full">
         <img class="w-24 h-24 rounded-full" src="{{ url_for('static', filename='images/hacker.png') }}" alt="Profile">
         <div class="flex flex-col justify-between w-full h-full">
            <div>
               <p class="font-bold text-2xl">{{ current_user.first_name }} {{ current_user.last_name }}</p>
               <p class="text-[#494949] font-bold">{{ current_user.email}}</p>
            </div>
            <div>
               <div class="font-semibold">
                  <div class="inline-flex items-center gap-2">
                     <p class="text-[#878787]">Level</p>
                     <p class="text-primary">{{ user_progress.level }}</p>
                  </div>
                  <div class="inline-flex items-center gap-2">
                     <p class="text-[#878787]">Exp:</p>
                     <p class="text-primary">{{ user_progress.exp }}</p>
                  </div>
               </div>
            </div>
            <progress class="progress progress-primary w-11/12 h-3" value="{{ user_progress.current_exp_progress }}" max="{{ user_progress.total_exp_progress }}"></progress>
         </div>
      </div>
      <div class="bg-white rounded-md w-[112px] h-full flex flex-col items-center justify-center gap-2">
         <p class="font-semibold text-xl text-[#494949]">Streak</p>
         <div class="text-primary flex flex-row gap-1 text-4xl">
            {% if strike > 0 %}
               <i class="ph-bold ph-fire text-4xl"></i> <span>{{ strike }}</span>
            {% else %}
               <i class="ph-bold ph-fire text-4xl text-gray-400"></i>  <span class="text-gray-400">0</span>
            {% endif %}
         </div>
      </div>
   </div>
   <div class="flex flex-col gap-6">
      <p class="font-semibold text-xl">Continue your course</p>
      <div class="@container ">
         <div
            class="grid grid-cols-1 @lg:grid-cols-2 @min-[850px]:flex @min-[850px]:flex-col rounded-md border-2 border-[#EFEEEE] min-h-96 p-6 gap-6 @min-[850]:gap-4">
            {% for course in enrolled_courses %}
               {{ render_course_card(course) }}
            {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endblock %}