{% extends "base/default-page-user.html" %}
{% import '/base/html-renderer-refactor.html' as renderer %}

{% macro course_card(course) %}
<div class="card bg-base-100 h-80 shadow-sm">
    <figure class="relative h-32 flex-shrink-0 overflow-hidden">
        <img src="{{ course.get_image() }}" alt="course thumbnail"
            class="w-full h-full object-cover" />

        {% if course.type %}
        <div class="badge badge-soft badge-primary badge-sm absolute top-4 right-4">
            {{ course.type.name }}
        </div>
        {% endif %}

    </figure>
    <div class="card-body">
        <h2 class="card-title font-semibold">{{ course.name }}</h2>
        <p class="text-xs text-[#494949] ">{{ course.description[:100] }}{% if course.description|length > 100 %}...{%
            endif %}</p>
        <div class="card-actions w-full mt-6">
            {% if not course.is_enrolled %}
            <form class="w-full" method="post" action="{{ url_for('course.enroll', course_id=course.id) }}">
                <button class="btn btn-primary w-full" type="submit"></i>Enroll</button>
            </form>
            {% else %}
            <form class="w-full" method="get"
                action="{{ url_for('course.course_content', course_id=course.id, page_id=None) }}">
                <button class="btn btn-neutral w-full" type="submit">Enrolled</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}

{% block content %}
<div class="flex flex-col gap-7">
    <p class="font-bold text-2xl">Courses</p>
    <div class="flex flex-row items-center gap-4">
     
        <form method="get" class="flex flex-col w-full" action="{{ url_for('course.index') }}">
            <div class="flex flex-col md:flex-row gap-4">
                {{ renderer.render_field(form.name, class_="w-full", placeholder="Name") }}
                {{ renderer.render_select_field(form.enrollment, class_="", placeholder="Enrollment") }}
            <div class="flex flex-row items-center mt-4 gap-4">
                <button type="submit" class="btn btn-primary">
                    <i class="ph ph-magnifying-glass text-lg"></i>Search
                </button>
                <button type="button" class="btn bg-gray-500 text-white"
                    onclick="document.querySelector('input[name=name]').value = ''; document.querySelector('select[name=enrollment]').selectedIndex = 0; document.querySelector('form').submit(); ">
                    <i class="ph ph-arrows-clockwise text-lg"></i>
                    Clear
                </button>
            </div>
            </div>
        </form>
    </div>
    <div class="@container ">
        <div class="grid grid-cols-1 @xl:grid-cols-2 @4xl:grid-cols-3 @6xl:grid-cols-4  min-h-96 gap-6">
            {% for course in courses %}
            {{ course_card(course) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}