{% extends "base/default-page-user.html" %}
{% block content %}
<div class="flex flex-col gap-7">
    <p class="font-bold text-2xl">Leaderboard</p>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Place</th>
                    <th>Name</th>
                    <th class="text-center">Level</th>
                    <th>Exp</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pagination.data %}
                <tr>
                    <th class="text-center">{{ loop.index }}</th>
                    <td>{{ user['display_name'] }}</td>
                    <td class="text-center">{{ user['level'] }}</td>
                    <td><progress class="progress progress-primary w-full" value="{{ user['percentage'] }}" max="100"></progress>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-4">
    {% with redirect=url_for("course.leaderboard") %}
    {% include "base/pagination.html" %}
    {% endwith %}
      </div>
</div>
{% endblock %}