{% extends "base/default-page.html" %}

{% block content %}
{% if msg %}
    <div ><span {% if "Successfully" in msg %} class="ui success text" {% else %} class="ui error text"  {% endif %} >{{ msg }}</span></div>
{% endif %}
{% for event in events %}
    
    {% if event.status == "active" %}
        <div> {{ event.name }}</div>
        <div> {{event.startd_date }} - {{ event.ended_date }} </div>
        {% if current_user.check_join_event(event.id)%}
        <a>join</a>
        {% else %}
        <form action="{{url_for('events.join',event_id=event.id)}}">
            <input id="code" name="code">
            <button type="submit"> enroll </button>
        </form>
        {% endif %}
    {% endif %}

{% endfor %}
{% endblock %}