{% extends "base/default-page-user.html" %}
{% import "components/modals.html" as render_modal %}

{% block content %}
<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold">Event: {{ event.name }}</h1>
    {% if not current_user.check_team_event(event.id) %}
    <a href="{{ url_for('events.create_team', event_id=event.id) }}">
      <button class="btn btn-primary">
        <i class="ph-bold ph-plus"></i>
        Create Team
      </button>
    </a>
    {% else %}
      {% if event.started_date <= now and event.ended_date >= now %}
        <a class="btn btn-primary" href="{{ url_for('events.challenge', event_id=event.id) }}">
          Go To Challenge
        </a>
      {% else %}
        <button disabled class="btn btn-primary">
          Waiting to Challenge... 
        </button>
      {% endif %}
    {% endif %}
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for team in teams %}
    <div class="card bg-base-100 shadow-md border border-base-300">
      <div class="card-body flex flex-col justify-between">
        <div>
          <h2 class="card-title text-lg font-bold">{{ team.name }}</h2>
          <div class="mt-2">
            <h3 class="font-semibold">Members:</h3>
            <ul class="list-disc list-inside">
              {% for member in team.members %}
              <li>{{ member.get_fullname() }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% if not current_user.check_team_event(event.id) %}
        <div class="card-actions justify-end mt-4">
          {{ render_modal.ModalJoinTeam("modal_" + (team.id|string), url_for('events.join_team', event_id=event.id,
          team_id=team.id)) }}
          <button class="btn btn-primary w-full btn-outline" onclick="modal_{{ team.id }}.showModal()">
            Join Team
          </button>
        </div>
        {% endif %}
        {% if current_user.check_team_event(event.id,team.id) %}
          {{ render_modal.ModalLeaveTeam("modal_" + (team.id|string), url_for('events.leave_team', event_id=event.id,
            team_id=team.id)) }}
            <button class="btn btn-error w-full btn-outline" onclick="modal_{{ team.id }}.showModal()">
              Leave Team
            </button>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% if current_user.check_team_event(event.id) %}
  {% endif %}
</div>
{% endblock %}