{% extends "/base/default-page.html" %}
{% import '/base/html-renderer-refactor.html' as renderer %}

{% block title %}
{% if 'create' in request.path %}
Create Category
{% else %}
Edit Category
{% endif %}
{% endblock %}

{% block page_title %}
{% if 'create' in request.path %}
Create Category
{% else %}
Edit Category
{% endif %}
{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto px-4">
    <div class="card bg-base-100 border-1 border-gray-300   mb-6">
        <div class="card-body">
            <h2 class="card-title text-2xl">
                {% if 'create' in request.path %}
                Create Category
                {% else %}
                Edit Category
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="">
        <div class="">
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}

                <div class="form-control w-full mb-4">
                    {{ renderer.render_field(form.name)}}
                </div>

                <div class="flex justify-end">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}