{% extends "base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<style>
    .ui.segment {
        background-color: rgb(10, 10, 10);
        border-radius: 5px;
    }

    .ui.header {
        color: rgb(0, 255, 35);
    }

    .blue-button {
        background-color: rgb(0, 120, 255);
        color: white;
    }

    .ui.primary.labeled.icon.button {
        background-color: rgb(0, 255, 35);
        color: black;
    }
</style>
<div class="ui segment" style="border: 1px solid rgb(123, 123, 123);">

    <h1 class="ui header">
        Upload DATA
    </h1>

</div>

<div class="ui segment" style="border: 1px solid rgb(123, 123, 123);">

    <a class="ui primary labeled icon button" href="{{url_for('upload_data.create_or_edit')}}">
        <i class="add icon"></i>
        Create Question
    </a>
    <table class="ui selectable inverted table">
        <thead>
            <tr>
                <th>Problem Header</th>
                <th>Category</th>
                <th>Point</th>
                <th>Filename</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for submit_flag in submit_flags %}
            <tr>
                <td data-label="Name">{{ submit_flag.problem_header }}</td>
                <td data-label="Email">{{ submit_flag.category.name }}</td>
                <td data-label="Phone">{{ submit_flag.point }}</td>

                <td data-label="edit"><a
                        href="{{url_for('upload_data.create_or_edit', submit_flag_id=submit_flag.id)}}"><i
                            class="edit icon yellow"></i></a></td>
                <td data-label="delete"><a onclick="showDeleteModal('{{ submit_flag.id }}')"><i
                            class="trash icon red"></i></a>
                </td>
            </tr>
            <div class="ui small modal {{submit_flag.id}}"
                style="background-color: black; color: white;font-size: 20px; border: 1px solid rgb(0, 255, 35);">
                <div class="header"
                    style="background-color: black; color: white;font-size: 20px; border: 1px solid rgb(0, 255, 35);">
                    Delete Question </div>
                <div class="content" style="background-color: black; color: white;font-size: 20px; ">
                    <h4 class="ui headers">
                        {{ ("Are you sure you want to delete") }} : <span class="ui red text"> {{
                            submit_flag.problem_header }} ?</span>
                    </h4>
                    <a class="ui right floated negative button" style="margin-bottom: 1em;"
                        href="{{url_for('upload_data.delete', submit_flag_id=submit_flag.id)}}">
                        {{ ("Delete") }}</i>
                    </a>
                    <button class="ui right floated button" onclick="showDeleteModal()">{{ ("Cancel") }}</button>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
{% block additional_js %}
<script>
    function showDeleteModal(submit_flag_id) {
        submit_flag_id ? $('.ui.small.modal.' + submit_flag_id).modal('show') : $('.ui.small.modal').modal('hide')
            ;
    }
</script>
{% endblock %}