{% extends "/base/default-page.html" %}
{% block content %}

{% if error %}
<div class="ui red message"> {{ error }}</div>
{% endif %}

<div class="ui middle aligned center aligned grid" style="height: 80vh;">
  <div class="column"
    style="max-width: 550px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 20px;">
    <h1 class="ui massive text header" style="font-size: 3rem; color: rgb(50, 78, 156) ;">ORGANIZATION</h1>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="sixteen wide column" style="font-size: 1.5rem;">
        <div class="ui divided list">
          <div class="item">
            <div class="ui center aligned" style="justify-content: center !important; display:flex; margin-top: 3rem;">
              <div class="image" style="width: 300px; height: 300px;">
                {% if current_user.organization.image %}
                <img class="ui centered circular image"
                  src="{{ url_for('organizations.display_image', organization_id=current_user.organization.id ,filename=current_user.organization.image.filename) }}"
                  alt="{{ current_user.organization.image.filename}}">
                {% else %}
                <img class="ui centered circular image" src="{{ url_for('static', filename='/images/hacker.png')}}">
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="ui divided list">
          <div class="item">
            <div class="header"><i class="user tie icon"></i>Organization :
              {{ current_user.organization.name if current_user.organization else "-" }} </div>
          </div>
        </div>
        <div class="ui divided list">
          <a href="{{ url_for('organizations.change' ) }}" class="ui primary button">Change Organization</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}