{% extends "/base/default-page.html" %}
{% block content %}

{% if error %}
<div class="ui red message"> {{ error }}</div>
{% endif %}
<div class="min-h-[85vh] flex items-center justify-center">
  <div class="max-w-xl w-full p-8 rounded-xl shadow-lg bg-base-100">
    <h1 class="text-5xl font-bold text-primary text-center mb-4">ORGANIZATION</h1>
    <div class="divider"></div>

    <div class="flex flex-col items-center gap-6">
      <div class="mt-12">
        {% if current_user.organization.image %}
        <div class="avatar">
          <div class="w-64 h-64 rounded-full">
            <img
              src="{{ url_for('organizations.display_image', organization_id=current_user.organization.id ,filename=current_user.organization.image.filename) }}"
              alt="{{ current_user.organization.image.filename}}">
          </div>
        </div>
        {% else %}
        <div class="avatar">
          <div class="w-64 h-64 rounded-full">
            <img src="{{ url_for('static', filename='/images/hacker.png')}}">
          </div>
        </div>
        {% endif %}
      </div>

      <div class="text-xl w-full">
        <div class="flex items-center gap-2 p-4 border-b">
          <i class="fa-solid fa-user-tie"></i>
          <span class="font-semibold">Organization:</span>
          <span>{{ current_user.organization.name if current_user.organization else "-" }}</span>
        </div>
      </div>

      <a href="{{ url_for('organizations.change' ) }}" class="btn btn-primary">Change Organization</a>
    </div>
  </div>
</div>

{% endblock %}