{% extends "base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<div class="ui raised segment">
  <h1 class="ui header">Users</h1>
</div>

<div class="ui raised segment">
  <div class="flex justify-end mr-4">
    <a class="btn btn-primary" href="{{ url_for('admin.accounts.create_or_edit') }}">
      <i class="add icon"></i>
      Create User
    </a>
  </div>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Display Name</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.display_name }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.status }}</td>
        <td>
          <a class="ui yellow icon button" href="{{ url_for('admin.accounts.create_or_edit', user_id=user.id) }}">
            <i class="edit icon"></i>
          </a>
          <a class="ui yellow icon button" href="{{ url_for('admin.accounts.edit_user', user_id=user.id) }}">
            <i class="user icon"></i>
          </a>
          <a class="ui red icon button" onclick="showDeleteModal('{{ user.id }}')">
            <i class="trash icon"></i>
          </a>
          <a class="ui blue icon button" href="{{ url_for('admin.accounts.recover', user_id=user.id) }}">
            <i class="redo icon"></i>
          </a>
        </td>
      </tr>

      <!-- Delete Modal -->
      <div class="ui small modal {{ user.id }}">
        <div class="header">
          Delete User
        </div>
        <div class="content">
          <p>Are you sure you want to delete <span class="ui red text">{{ user.first_name }} {{ user.last_name
              }}</span>?</p>
        </div>
        <div class="actions">
          <a class="ui negative button" href="{{ url_for('admin.accounts.delete', user_id=user.id) }}">
            Delete
          </a>
          <div class="ui button" onclick="$('.ui.small.modal.{{ user.id }}').modal('hide')">
            Cancel
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block additional_js %}
<script>
  function showDeleteModal(user_id) {
    if (user_id) {
      $('.ui.small.modal.' + user_id).modal('show');
    }
  }
</script>
{% endblock %}