{% extends "base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<div class="ui segment">
    <h1 class="ui header">
        {% if 'create' in request.path %}
        Create TEAM
        {% else %}
        Edit TEAM
        {% endif %}
    </h1>
</div>

<div class="ui segment">
    <form method="POST" class="ui form" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div class="field">
            {{ form.name.label }}
            {{ form.name }}
        </div>

        <div class="field">
            {{ form.members.label }}
            {{ form.members(class="ui fluid search dropdown") }}
        </div>

        <div class="field">
            {{ form.picture.label }}
            {{ form.picture }}
        </div>

        <button class="ui primary button" type="submit">Submit</button>
    </form>
</div>
{% endblock %}