{% extends "base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<div class="ui container">
    <div class="ui segment">
        <a class="ui primary labeled icon button" href="{{ url_for('teams.create_or_edit') }}"> <i
                class="add icon"></i>Create Team</a>
    </div>

    <div class="ui segment">
        <h2 class="ui header">Teams</h2>
        <div class="ui divided items">
            {% for team in teams %}
            <div class="item">
                <div class="content">
                    <div class="header">{{ team.name }}</div>
                    <div class="meta">
                        <span class="organization">{{ team.organization }}</span>
                    </div>
                    <div class="description">
                        <p>Members:</p>
                        <ul>
                            {% for member in team.members %}
                            {% for user in users %}
                            {{ user.name }}
                            {% if user.id == member.id %}
                            <li>{{ user.first_name }} {{ user.last_name }}</li>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        <a class="ui yellow icon button"
                            href="{{ url_for('admin.teams.create_or_edit', team_id=team.id) }}">
                            <i class="edit icon"></i>
                        </a>
                        <a class="ui red icon button" onclick="showDeleteModal('{{ team.id }}')">
                            <i class="trash icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui small modal {{ team.id }}">
                <div class="header">Delete Team</div>
                <div class="content">
                    <p>Are you sure you want to delete <span class="ui red text">{{ team.name }}</span>?</p>
                </div>
                <div class="actions">
                    <a class="ui negative button" href="{{ url_for('admin.teams.delete', team_id=team.id) }}">
                        Delete
                    </a>
                    <div class="ui button" onclick="$('.ui.small.modal.{{ team.id }}').modal('hide')">Cancel</div>
                </div>
            </div>
            {% else %}
            <div class="ui message">
                <div class="header">No teams available</div>
                <p>Please create a team to see the details here.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
    function showDeleteModal(team_id) {
        if (team_id) {
            $('.ui.small.modal.' + team_id).modal('show');
        }
    }
</script>
{% endblock %}