{% extends "/base/base-layout.html" %}

<div class="ui fixed main menu">
  <a class="launch icon item">
    <i class="content icon"></i>
  </a>
  <div class="item">
    <a id="link" href="" style="color: black;">
      {{ config.get('APP_TITLE') }}
    </a>
    <div class="right menu">
      {% if current_user.is_authenticated %}
      <div class="ui dropdown item right">
        <i class="user icon"></i>
        {{ current_user.first_name }}
        {{ current_user.last_name }}
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="{{ url_for('accounts.logout') }}">
            <div class="item">
              <span class="ui red text">
                <i class="power off icon"></i>
                Logout
              </span>
            </div>
          </a>
        </div>
      </div>
      {% else %}
      <div class="ui item right">
        <a class="ui icon top right pointing small" href="{{url_for('accounts.login')}}">
          <i class="sign in alternate icon"></i>
          <span class="text">Login</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% block body %}
<div>{% include "/base/navbar.html" %}</div>
<div class="px-10 md:px-15 lg:px-25 min-h-screen pt-10">
  {% block content %}{% endblock content %}
</div>
<div>{% include "/base/footer.html" %}</div>

<script>
  $(' .ui.dropdown')
    .dropdown({
    })
    ;
  var dropdown = document.getElementsByClassName("ui item secondary");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
  if (screen.width <= 699) {
    document.getElementById("content-desktop");
  }
</script>
{% endblock body %}