{% extends "/base/base-layout.html" %}

{% block body %}
<div class="grid grid-cols-[auto_1fr] bg-[#F3EFEE]">
  {% include "/base/sidebar-user.html" %}
  <div class="md:px-16 min-h-screen px-12 py-7 rounded-xl bg-[#FCFBFC]">
    {% block content %}{% endblock content %}
  </div>
</div>

<script>
const toggleBtn = document.getElementById('toggleBtn');
const sidebar = document.getElementById('sidebar');
const sidebarMenu = document.getElementById('sidebar-menu');
const texts = document.querySelectorAll('.sidebar-text');
const toggleIcon = document.getElementById('toggleIcon');
const containerContent = document.getElementById('container-content');

let collapsed = false;
toggleBtn.addEventListener('click', () => {
    collapsed = !collapsed;
    if (collapsed) {
        sidebar.classList.replace('w-72', 'w-[80px]');
        toggleBtn.classList.replace('left-68', 'left-16');
        texts.forEach(t => t.classList.add('opacity-0'));
    } else {
        sidebar.classList.replace('w-[80px]', 'w-72');
        toggleBtn.classList.replace('left-16', 'left-68');
        texts.forEach(t => t.classList.remove('opacity-0'));
    }
    toggleIcon.classList.toggle('rotate-180');
});
</script>
{% endblock body %}