{% extends "/base/base-layout.html" %}
{% from "components/toasts.html" import render_toast %}

{% block body %}
<div class="grid grid-cols-[auto_1fr] bg-[#F3EFEE]">
  {% include "/base/sidebar-user.html" %}
  <div class="md:px-16 min-h-screen px-12 py-7 rounded-xl bg-[#FCFBFC]">
    {% block content %}{% endblock content %}
  </div>
</div>
{% for category, message in get_flashed_messages(with_categories=true) %}
  {{ render_toast(message, category) }}
{% endfor %}
{% include "/base/sidebar-toggle.html" %}
{% endblock body %}