<footer class="footer sm:footer-horizontal justify-center sm:justify-normal text-base-content px-10 md:px-15 lg:px-25 py-10 bg-[#eaf4ff]">
  <aside>
    <img width="180" src="{{ url_for('static', filename='images/coe.png') }}" alt="R202 Logo"
      style="margin-bottom: 1em;">
    <p>Developed by R202 research lab</p>
  </aside>
  <nav>
    <h6 class="footer-title">Department of Computer Engineering</h6>
    <p>Faculty of Engineering</p>
    <p>Prince of Songkla University</p>
    <p>Hat Yai, Thailand</p>
  </nav>
  <nav>
    <h6 class="footer-title">Connect</h6>
    <a href="http://coe.psu.ac.th" class="item" style="color: #4183c4;">CoE, Eng, PSU</a>
  </nav>
</footer>