<div class="ui large top fixed menu" style="background-color: rgb(50, 78, 156); border-radius: 0 !important;">
    <a class="item" style="color: white;">R202 logo</a>
    <a class="launch icon item" style="gap: 10px; color: white;"><i class="content icon"></i></a>
    <a class="item" style="color: white;"><i class="user tie icon"></i>{{ current_user.display_name }}</a>
    {% for team in teams %}
    {% for member in team.members %}
    {% if current_user.id == member.id %}
    <a class="item" style="color: white;">
        <i class="users icon"></i>{{ team.name }}
    </a>
    {% endif %}
    {% endfor %}
    {% endfor %}

    <div class="right menu">
        <a class="item" style="color: white;"><i class="tv icon"></i>IP address</a>
        <a id="current-time" class="item" style="color: white;"><i class="compass outline icon"></i><span></span></a>
        {% if event %}
        <a class="item" style="color: white;"><i class="clock outline icon"></i>
            <p id="countdown"></p>
        </a>
        {% endif %}
        <a class="item" style="color: white;" href="{{url_for('accounts.logout')}}"><i class="power off icon"
                style="color: red;"></i>Logout</a>
    </div>
</div>
<div class="ui vertical inverted sidebar large menu left" style="height: 100%;">
    {% include "/base/sidebar.html" with context %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.left.sidebar.menu')
            .sidebar('attach events', '.launch.icon.item', 'show');

        $('.launch.icon.item').removeClass('disabled');

        $('.ui.dropdown').dropdown();
    });
</script>
<script type="text/javascript">
    function updateTime() {
        // Get the current time
        const now = new Date();

        // Format the time as HH:MM
        let hours = now.getUTCHours() + 7; // Add 7 hours for UTC+7
        let minutes = now.getUTCMinutes();

        // Ensure two digits for hours and minutes
        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;

        // Update the time element
        $('#current-time span').text(`${hours}:${minutes} (UTC+7)`);
    }

    $(document).ready(function () {
        // Update the time immediately
        updateTime();

        // Update the time every minute
        setInterval(updateTime, 60000);
    });
</script>
<script id="countdown">
    function countdown(ended_date) {
        const countDownDate = new Date(ended_date).getTime();


        console.log("Countdown Date:", startDate);

        const x = setInterval(function () {
            const now = new Date().getTime();
            console.log("Current Date:", startDate);
            const distance = countDownDate - now;

            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "EXPIRED";
            }
        }, 1000);
    }

    window.onload = function () {
        const ended_date = "{{ event.ended_date }}";
        countdown(ended_date);
    }
</script>