<div class="ui large top fixed menu" style="background-color: rgb(50, 78, 156); border-radius: 0 !important;">
    <a class="item" style="color: white;">R202 logo </a>
    <a class="launch icon item" style="gap: 10px; color: white;"><i class="content icon"></i></a>
    <div class="right menu">
    

    {% if "dashboard" in request.url %} 
    <a class="item" style="color: white;" href="{{ url_for('events.challenge', event_id=event.id) }}"><i class="trophy icon"
        style="color: rgb(255, 255, 255);"></i>Challenge</a>
    {% endif %} 
      <a id="ip-address" class="item" style="color: white;"><i class="tv icon"></i>
        {{ request.headers.get("X-Forwarded-For", request.remote_addr) }}
      </a>
        <a id="current-time" class="item" style="color: white;"><i class="compass outline icon"></i><span></span></a>
        <a class="item" style="color: white;" href="{{url_for('accounts.logout')}}"><i class="power off icon"
                style="color: red;"></i>Logout</a>
    </div>
</div>
<div class="ui vertical inverted sidebar large menu left" style="height: 100%;">
    {% include "/base/sidebar.html" with context %}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.left.sidebar.menu')
            .sidebar('attach events', '.launch.icon.item', 'show');

        $('.launch.icon.item').removeClass('disabled');

        $('.ui.dropdown').dropdown();
    });
</script>


<script type="text/javascript">
    function updateTime() {
        const now = new Date();
        let hours = now.getUTCHours() + 7;
        let minutes = now.getUTCMinutes();
        hours = hours % 24; // Ensure hours don't exceed 24
        hours = hours < 10 ? '0' + hours : hours;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        document.getElementById('current-time').innerHTML = `<i class="compass outline icon"></i>${hours}:${minutes} (UTC+7)`;
    }
    setInterval(updateTime, 1000);
    updateTime();
</script>

