{% if pagination['paginate'] %}
<div class="flex justify-center">
  <div class="join">
    {% if request.args | length == 0 or (request.args | length == 1 and 'page' in request.args) %}
    {% set connector='?' %}
    {% else %}
    {% set connector='&' %}
    {% endif %}
    {% set max_page = pagination['paginate'][-1] %}
    {% set this_page = request.args.get('page', 1) %}

    {% if this_page|int == 1 %}
    <button class="join-item btn btn-disabled">«</button>
    {% else %}
    <a class="join-item btn" href="{{redirect}}{{connector}}page={{this_page|int-1}}">«</a>
    {% endif %}

    {% for i in pagination['paginate']%}
    {% if i|string == request.args.get('page') %}
    <button class="join-item btn btn-active">{{i}}</button>
    {% elif request.args.get('search') %}
    {% if i|string == '...' %}
    {% if loop.index > pagination['paginate'].index(this_page|int) %}
    <a class="join-item btn"
      href="{{redirect}}{{connector}}search={{request.args.get('search')}}&page={{(this_page|int+max_page)//2}}">{{i}}</a>
    {% else %}
    <a class="join-item btn"
      href="{{redirect}}{{connector}}search={{request.args.get('search')}}&page={{(this_page|int+1)//2}}">{{i}}</a>
    {% endif %}
    {% else %}
    <a class="join-item btn" href="{{redirect}}{{connector}}search={{request.args.get('search')}}&page={{i}}">{{i}}</a>
    {% endif %}
    {% else %}
    {% if i|string == '...' %}
    {% if loop.index > pagination['paginate'].index(this_page|int) %}
    <a class="join-item btn" href="{{redirect}}{{connector}}page={{(this_page|int+max_page)//2}}">{{i}}</a>
    {% else %}
    <a class="join-item btn" href="{{redirect}}{{connector}}page={{(this_page|int+1)//2}}">{{i}}</a>
    {% endif %}
    {% else %}
    <a class="join-item btn" href="{{redirect}}{{connector}}page={{i}}">{{i}}</a>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if this_page|int==max_page|int %}
    <button class="join-item btn btn-disabled">»</button>
    {% else %}
    <a class="join-item btn" href="{{redirect}}{{connector}}page={{this_page|int+1}}">»</a>
    {% endif %}
  </div>
</div>
{% endif %}