{% if current_user.is_authenticated %}
<div class="ui left inverted vertical menu" style="height: 100%; background-color: #242649;  width:100%; ">
  <div style="justify-content: space-between;  flex-direction: column; display:flex; height:100%;">
    <div>
      <div class="sidebar-heading header" style="padding-top: 2rem; margin-bottom:2rem;">
        <a href="{{url_for('accounts.index' )}}">
          <div
            style="color: white; font-weight: bold; text-align:center; background-color: rgb(30, 30, 30); align-items: center; font-size:large;">
            TEAM : 
          </div>

        </a>
      </div>
      <div style="background-color: rgb(255, 255, 255); width: 100%; height: 1px"></div>
      <a class="item" href="{{url_for('dashboards.index' )}}">
        <span style="font-size: 16px;"> Dashboard </span><i class="trophy icon"></i>
      </a>
      <div style="background-color: rgb(0, 255, 35); width: 100%; height: 1px"></div>
      <a class="item" href="{{url_for('challenges.index')}}">
        Challenges<i class="flag checkered icon"></i>
      </a>
      <div style="background-color: rgb(255, 255, 255); width: 100%; height: 1px"></div>
      {% if current_user.has_roles('admin') %}

      <div style="background-color: rgb(255, 255, 255); width: 100%; height: 1px"></div>
      <a class="item" href="{{url_for('categories.index')}}">
        <span style="font-size: 16px;">Categories</span><i class="folder open icon"></i>
      </a>
      <div style="background-color: rgb(255, 255, 255); width: 100%; height: 1px"></div>
      <a class="item" href="{{url_for('teams.index')}}">
        <span style="font-size: 16px;">Teams</span><i class="folder open icon"></i>
      </a>
      <div style="background-color: rgb(255, 255, 255); width: 100%; height: 1px"></div>
      <a class="item" href="{{url_for('admin.accounts.index' )}}">
        <span style="font-size: 16px;">User Management</span><i class="users icon"></i>
      </a>
      <div style="background-color: rgb(255, 255, 255); width: 100%; height: 1px"></div>
      {% endif%}
    </div>
    <div>
      <div style="background-color: rgb(255, 255, 255); width: 100%; height: 1px"></div>
      <a class="item" id="btngray" href="{{url_for('accounts.index')}}">
        <span style="font-size: 16px;">User Profile </span><i class="user circle outline icon"></i>
      </a>
      <div style="background-color: rgb(255, 255, 255); width: 100%; height: 1px"></div>
      <a class="item" id="btnred" href="{{url_for('accounts.logout')}}">
        <span style="font-size: 16px;">Logout </span><i class="sign out alternate icon"></i>
      </a>
    </div>
  </div>
</div>

{% endif %}

{% block additional_js %}
<style>
  .item-border {
    display: flex;
    color: white;
    font-size: 100%;
    font-weight: 800;
    padding: 4%;
    justify-content: space-between;
    background-color: rgb(211, 84, 0);
    align-items: center;

  }

  .item-border:hover {
    color: white;
    background-color: rgb(20, 99, 168);
    border: 2px solid white;
  }

  .menu-btn {
    color: white;
    cursor: pointer;
    align-self: center;
  }

  .menu-btn:hover {
    color: rgb(99, 165, 223);
  }
</style>
<script>

  function mouseOverGray() {
    document.getElementById("btngray").style.backgroundColor = "rgb(134, 136, 136)";
  }
  function mouseOutGray() {
    document.getElementById("btngray").style.backgroundColor = "rgb(203, 204, 204)";
  }

  function mouseOverYellow() {
    document.getElementById("btnyellow").style.backgroundColor = "rgb(236, 234, 82)";
  }
  function mouseOutYellow() {
    document.getElementById("btnyellow").style.backgroundColor = "rgb(236, 235, 131)";
  }

  function mouseOverRed() {
    document.getElementById("btnred").style.backgroundColor = "rgb(233, 101, 101)";
  }
  function mouseOutRed() {
    document.getElementById("btnred").style.backgroundColor = "rgb(231, 147, 147)";
  }

  function mouseOverSky() {
    document.getElementById("btnsky").style.backgroundColor = "rgb(99, 245, 233)";
  }
  function mouseOutSky() {
    document.getElementById("btnsky").style.backgroundColor = "rgb(175, 250, 244)";
  }
  function toggleLeft() {
    $('.sidebar').sidebar('toggle');
  }
  //function toggleOff() {
  // () => $('.ui.left.sidebar').sidebar('setting',
  //'transition', 'overlay').sidebar('hide');
  //$('.ui.sidebar')
  //.sidebar('toggle')
  //;
  //}
</script>

{% endblock additional_js %}