{% if current_user.is_authenticated %}
<div class="ui left inverted vertical menu"
  style="height: 100%; background-color: #242649; width: 250px; padding: 1rem 0;">
  <div style="display: flex; flex-direction: column; height: 100%; justify-content: space-between;">
    <div>
      <div class="sidebar-heading header" style="padding: 1rem 0; text-align: center;">
        <a href="{{ url_for('accounts.index') }}" style="color: white; font-weight: bold; font-size: 1.5rem;">
          {% for team in teams %}
          {% for member in team.members %}
          {% if current_user.id == member.id %}
          <div>
            TEAM : <span class="ui info text">{{ team.name }}</span>
          </div>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </a>
      </div>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>

      <a class="item" href="{{ url_for('dashboards.index') }}" style="color: white; padding: 1rem;">
        <i class="trophy icon" style="font-size: 1.2rem;"></i>
        <span style="font-size: 1rem;">Dashboard</span>
      </a>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>

      {% if current_user.has_roles('admin') %}
      <a class="item" href="{{ url_for('admin.events.index') }}" style="color: white; padding: 1rem;">
        <i class="calendar check icon" style="font-size: 1.2rem;"></i>
        <span style="font-size: 1rem;">Events</span>
      </a>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>

      <a class="item" href="{{ url_for('admin.categories.index') }}" style="color: white; padding: 1rem;">
        <i class="th icon" style="font-size: 1.2rem;"></i>
        <span style="font-size: 1rem;">Categories</span>
      </a>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>

      <a class="item" href="{{ url_for('admin.challenges.index') }}" style="color: white; padding: 1rem;">
        <i class="flag checkered icon" style="font-size: 1.2rem;"></i>
        <span style="font-size: 1rem;">Challenges</span>
      </a>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>


      <a class="item" href="{{ url_for('teams.index') }}" style="color: white; padding: 1rem;">
        <i class="user tie icon" style="font-size: 1.2rem;"></i>
        <span style="font-size: 1rem;">Teams</span>
      </a>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>

      <a class="item" href="{{ url_for('admin.accounts.index') }}" style="color: white; padding: 1rem;">
        <i class="users icon" style="font-size: 1.2rem;"></i>
        <span style="font-size: 1rem;">User Management</span>
      </a>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>
      {% else %}
      <a class="item" href="{{ url_for('events.index') }}" style="color: white; padding: 1rem;">
        <i class="calendar check icon" style="font-size: 1.2rem;"></i>
        <span style="font-size: 1rem;">Events</span>
      </a>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>
      <a class="item" href="{{ url_for('teams.index') }}" style="color: white; padding: 1rem;">
        <i class="user tie icon" style="font-size: 1.2rem;"></i>
        <span style="font-size: 1rem;">Team</span>
      </a>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>
      {% endif %}
    </div>
    <div>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>
      <a class="item" id="btngray" href="{{ url_for('accounts.index') }}" style="color: white; padding: 1rem;">
        <i class="user circle outline icon" style="font-size: 1.2rem;"></i>
        <span style="font-size: 1rem;">User Profile</span>
      </a>
      <div class="ui divider" style="margin: 0; background-color: #fff;"></div>

      <a class="item" id="btnred" href="{{ url_for('accounts.logout') }}" style="color: white; padding: 1rem;">
        <i class="sign out alternate icon" style="font-size: 1.2rem;"></i>
        <span style="font-size: 1rem;">Logout</span>
      </a>
    </div>
  </div>
</div>
{% endif %}

<style>
  .ui.left.inverted.vertical.menu .item:hover {
    background-color: #23337C;
    transition: background-color 0.3s;
  }
</style>