{% if current_user.is_authenticated %}
<!-- Admin Navigation Links -->
<ul class="menu w-full text-base-content flex flex-col justify-between 
  h-screen text-xl pb-6">
  <div class="flex flex-col h-full text-white ">
    <li class="text-center items-center">
      <a href="{{ url_for('accounts.index') }}"
        class="text-white font-bold text-2xl flex justify-center items-center py-4">
        <div>
          <span class="text-white">COE CTF</span>
        </div>
      </a>
    </li>
    {% if current_user.has_roles('admin') %}
    <li>
      <a href="{{ url_for('admin.events.index') }}"
        class="text-white py-4 px-6 hover:bg-[#65b6de] transition duration-300">
        <i class="ph ph-calendar-check text-2xl text-white"></i>
        <span class="text-white">Events</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('admin.courses.index') }}"
        class="text-white py-4 px-6 hover:bg-[#65b6de] transition duration-300">
        <i class="ph ph-brain text-2xl text-white"></i>
        <span class="text-white">Course</span>
      </a>
    </li>
    <li class="text-center">
      <a href="{{ url_for('admin.categories.index') }}"
        class="text-white py-4 px-6 hover:bg-[#65b6de] transition duration-300">
        <i class="ph ph-squares-four text-2xl text-white"></i>
        <span class="text-white ">Categories</span>
      </a>
    </li>
    <li class="text-center">
      <a href="{{ url_for('admin.challenges.index') }}"
        class="text-white py-4 px-6 hover:bg-[#65b6de] transition duration-300">
        <i class="ph ph-flag text-2xl text-white"></i>
        <span class="text-white">Challenges</span>
      </a>
    </li>
    <li class="text-center">
      <a href="{{ url_for('admin.organizations.index') }}"
        class="text-white py-4 px-6 hover:bg-[#65b6de] transition duration-300">
        <i class="ph ph-buildings text-2xl text-white"></i>
        <span class="text-white">Organizations</span>
      </a>
    </li>
    <li class="text-center">
      <a href="{{ url_for('admin.accounts.index') }}"
        class="text-white py-4 px-6 hover:bg-[#65b6de] transition duration-300">
        <i class="ph ph-users text-2xl text-white"></i>
        <span class="text-white">User Management</span>
      </a>
    </li>
    {% else %}
    <!-- Non-Admin Navigation Links -->
    <li class="text-center">
      <a href="{{ url_for('events.index') }}" class="text-white py-4 px-6 hover:bg-[#65b6de] transition duration-300">
        <i class="ph ph-calendar-check text-2xl text-white"></i>
        <span class="text-white">Events</span>
      </a>
    </li>
    <li class="text-center">
      <a href="{{ url_for('organizations.information') }}"
        class="text-white py-4 px-6 hover:bg-[#65b6de] transition duration-300">
        <i class="ph ph-buildings text-2xl text-white"></i>
        <span class="text-white">Organizations</span>
      </a>
    </li>
    {% endif %}
    <div class=" flex flex-col h-full justify-end">
      <li class="text-center">
        <!-- User Profile & Logout Links -->
        <a href="{{ url_for('accounts.index') }}"
          class="text-white py-4 px-6 hover:bg-[#65b6de] transition duration-300">
          <i class="ph ph-user-circle text-2xl"></i>
          <span class="text-white">User Profile</span>
        </a>
      </li>
      <li class="text-center">
        <a href="{{ url_for('accounts.logout') }}"
          class="text-white py-4 px-6 hover:bg-[#65b6de] transition duration-300">
          <i class="ph ph-sign-out text-2xl text-red-500"></i>
          <span class="text-white">Logout</span>
        </a>
      </li>
    </div>
  </div>
</ul>
{% endif %}