{% extends "base/default-page.html" %}
{% import '/base/editor-renderer.html' as editor_renderer %}

{% macro section_card(section) %}
<div class="card bg-base-100 border-1 border-gray-300 mb-4">
    <div class="card-body">
        <div class="flex flex-row items-center justify-between gap-4">
            <div class="flex flex-col justify-start">

                <div class="flex flex-row items-center gap-2">
                    <span class="badge badge-primary badge-lg font-bold">Section</span>
                    <span class="badge badge-accent badge-lg font-bold">{{ section.exp_ }} xp</span>
                </div>

                <div class="card-title text-2xl flex flex-row items-center justify-between mt-4">
                    <h2>{{ section.header }}</h2>
                </div>
                <div class="overflow-hidden">
                    <span class="truncate block w-[90%] whitespace-pre-line"><strong>Description:</strong> {{ section.header_description
                        }}</span>
                </div>
                <div class="">
                </div>
            </div>

            <div class="flex flex-col gap-2 w-40">
                <a class="btn btn-secondary w-full"
                    href="{{ url_for('admin.courses.create_or_edit_course_section', course_id=course.id, section_id=section.id) }}"><i
                        class="ph ph-pencil-simple"></i>Edit</a>

                <form method="post"
                    action="{{ url_for('admin.courses.move_content_up', course_id=course.id, content_id=section.id) }}">
                    <button class="btn btn-primary w-full" type="submit"><i class="ph ph-arrow-up"></i>Move Up</button>
                </form>
                <form method="post"
                    action="{{ url_for('admin.courses.move_content_down', course_id=course.id, content_id=section.id) }}">
                    <button class="btn btn-primary w-full" type="submit"><i class="ph ph-arrow-down"></i>Move
                        Down</button>
                </form>
                <form method="post"
                    action="{{ url_for('admin.courses.delete_course_content', course_id=course.id, content_id=section.id) }}"
                    onsubmit="return confirm('Are you sure you want to delete this section?');">
                    <button class="btn btn-error w-full" type="submit"><i class="ph ph-trash"></i>Delete</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endmacro %}

{% macro question_card(question) %}
<div class="card bg-base-100 border-1 border-gray-300 mb-4">
    <div class="card-body">
        <div class="flex flex-row items-center justify-between gap-4">
            <div class="flex flex-col">

                <div class="flex flex-row items-center gap-2">
                    <span class="badge badge-error badge-lg font-bold">Question</span>
                    <span class="badge badge-accent badge-lg font-bold">{{ question.exp_ }} xp</span>
                </div>

                <div class="card-title text-2xl flex flex-row items-center justify-between mt-4">
                    <h2>{{ question.header }}</h2>
                </div>
                <div class="overflow-hidden">
                    <span class="truncate block w-[90%] whitespace-pre-line"><strong>Description:</strong> {{ question.header_description
                        }}</span>
                </div>
                <div class="">
                    <strong>Question:</strong> {{ question.course_question.name }}
                </div>
            </div>

            <div class="flex flex-col gap-2 w-40">
                <a class="btn btn-secondary w-full"
                    href="{{ url_for('admin.courses.create_or_edit_course_question', course_id=course.id, question_id=question.id) }}"><i
                        class="ph ph-pencil-simple"></i>Edit</a>

                <form method="post"
                    action="{{ url_for('admin.courses.move_content_up', course_id=course.id, content_id=question.id) }}">
                    <button class="btn btn-primary w-full" type="submit"><i class="ph ph-arrow-up"></i>Move Up</button>
                </form>
                <form method="post"
                    action="{{ url_for('admin.courses.move_content_down', course_id=course.id, content_id=question.id) }}">
                    <button class="btn btn-primary w-full" type="submit"><i class="ph ph-arrow-down"></i>Move
                        Down</button>
                </form>
                <form method="post"
                    action="{{ url_for('admin.courses.delete_course_content', course_id=course.id, content_id=question.id) }}"
                    onsubmit="return confirm('Are you sure you want to delete this question?');">
                    <button class="btn btn-error w-full" type="submit"><i class="ph ph-trash"></i>Delete</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endmacro %}

{% block content %}
<div>
    <h1 class="text-3xl font-bold">{{ course.name }}</h1>
    <p class="mt-2"> {{ course.description }} </p>
    <div class="my-3 border-b border-b-gray-300"></div>
    <div class="flex flex-row justify-end gap-2">
        <a class="btn btn-primary"
            href="{{ url_for('admin.courses.create_or_edit_course_section', course_id=course.id) }}"><i
                class="ph ph-plus"></i>Add Section </a>
        <a class="btn btn-primary"
            href="{{ url_for('admin.courses.create_or_edit_course_question', course_id=course.id) }}"><i
                class="ph ph-plus"></i>Add Question </a>
    </div>
    <div class="mt-3">
        {% for content in contents %}
        <div>
            index: {{ content.index }}
        </div>
        {% if content.type == "section" %}
        {{ section_card(content) }}
        {% elif content.type == "question" %}
        {{ question_card(content) }}
        {% endif %}
        {% endfor %}
    </div>

</div>
{% endblock %}

{% block additional_js %}
{{ editor_renderer.add_editor_library() }}
{{ editor_renderer.config_editor() }}

{{ editor_renderer.render_readonly_editor('content') }}
{% endblock %}