{% extends "base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<style>
    .ui.card {
        font-size: 20px;
        font-family: monospace;
        margin-bottom: 20px;
        width: 200%;
        background-color: rgb(0, 0, 0);
        color: black !important;

    }

    .ui.card .content {
        padding: 10px;
    }

    .ui.card .content h5.ui.sub.header {
        margin-top: 0px;
    }

    .ui.card .extra.content {
        display: flex;
        justify-content: flex-end;
    }

    .ui.modal {
        max-width: 60%;
        margin: auto;
    }

    .ui.primary.button {
        width: 200%;
        font-size: 18px;
    }

    .ui.small.modal {
        background-color: rgb(0, 0, 0);
        /* Change this to the desired color */
        color: #fff;
        /* Change this to the desired text color */
    }

    .box {
        inline-size: auto;
        overflow-wrap: break-word;
    }
</style>

<div class="ui stackable four column grid">
    {% for submit_flag in submit_flags %}
    <div class="four wide column">
        <div class="ui card">
            <div class="content">
                <div style="display: flex; justify-content: space-between;">
                    <div class="header" style='color: rgb(251, 251, 251) ;'>{{ submit_flag.problem_header }}</div>
                    <div class="solve" style="color: rgb(251, 251, 251);">solve : {{ submit_flag.get_problem_solvers()
                        }}
                    </div>
                </div>
            </div>
            <div style="background-color: rgb(0, 255, 35); width: 100%; height: 1px"></div>
            <div class="content">
                <div class="ui small feed">
                    <div class="content" style="font-size:18px">
                        <h5 class="ui sub header" style='color: rgb(251, 251, 251);'>Point: {{ submit_flag.point }}</h5>
                        <h5 class="ui sub header" style='color: rgb(251, 251, 251);'>Type: {{ submit_flag.category.name
                            }}
                        </h5>
                    </div>
                </div>
            </div>
            <div style="background-color: rgb(0, 255, 35); width: 100%; height: 1px"></div>
            <div class="content">
                {% if current_user.team.name in submit_flag.problem_solvers %}
                <div class="ui small feed">
                    <div class="content" style="font-size:18px">
                        <h5 class="ui sub header" style='color: rgb(251, 251, 251);'>Status: <span
                                class="ui success text">Success</span></h5>
                    </div>
                </div>
                <div class="extra content">
                    <a class="ui primary button">Success<em data-emoji=":trophy:"></em></a>
                </div>
                {% else %}
                <div class="ui small feed">
                    <div class="content" style="font-size:18px">
                        <h5 class="ui sub header" style='color: rgb(251, 251, 251);'>Status: <span
                                class="ui red text">Failed</span></h5>
                    </div>
                </div>
                <div class="extra content">
                    <a class="ui primary button" style="background-color: rgb(0, 255, 35); color: black;"
                        onclick="showQuestion('{{ submit_flag.id }}')">Answer</a>
                </div>
                {% endif %}
            </div>
            <div class="ui small modal {{ submit_flag.id }}">
                <div class="header"
                    style="background-color: black; color: white;font-size: 15px; border: 1px solid rgb(0, 255, 35);">
                    Problem name : {{
                    submit_flag.problem_header }}
                </div>
                <div class="content" style="background-color: black; border: 1px solid rgb(0, 255, 35);">
                    <form method="GET">
                        <a style="color:#2585e6;"
                            href="{{url_for('submit_flags.download', submit_flag_id=submit_flag.id)}}">Download: {{
                            submit_flag.upload_file_name }} ({{ '{:.2f}'.format(submit_flag.upload_file.length/1048576 )
                            }} MB)</a>
                        <h3 class="ui headers box" style="font-size: 15px;">Description: {{ submit_flag.description }}
                            <a onclick="Hint('{{ submit_flag.hint }}')"><span class="ui info text">(hint)</span></a>
                        </h3>
                        <div class="ui fluid action input">
                            <input name="flag" type="text" placeholder="iaaCTF{xxxx}">
                            <input name="submit_flag_id" style="display: none;" type="text" value="{{submit_flag.id}}">
                            <button type="submit" class="ui big button"
                                style="background-color: rgb(0, 255, 35);color: black;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block additional_js %}
<script>
    function showQuestion(submit_flag) {
        submit_flag ? $('.ui.small.modal.' + submit_flag).modal('show') : $('.ui.small.modal').modal('hide')
            ;
    }
</script>
<script>
    function Hint(msg) {
        alert('Hist : ' + msg);
    }
</script>
{% endblock %}